<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{#if devSite}}
		<meta name="robots" content="noindex">
	{{/if}}    
	{{#if post}}
		{{#if post.meta.title}}
			<title>{{post.meta.title}} - Kali Protectives</title>
			<meta property="og:title" content="{{post.meta.title}} - Kali Protectives">
			<meta name="twitter:title" content="{{post.meta.title}} - Kali Protectives">
		{{else}}
			<title>{{post.name}} - Kali Protectives</title>
			<meta property="og:title" content="{{post.name}} - Kali Protectives">
			<meta name="twitter:title" content="{{post.name}} - Kali Protectives">
		{{/if}}
		{{#if post.meta.description}}
			<meta name="description" content="{{post.meta.description}}">
			<meta property="og:description" content="{{post.meta.description}}">
			<meta name="twitter:description" content="{{post.meta.description}}">
		{{else}}
			<meta name="description" content="{{post.content.brief}}">
			<meta property="og:description" content="{{post.content.brief}}">
			<meta name="twitter:description" content="{{post.content.brief}}">
		{{/if}}
		<meta property="og:type" content="article">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="og:image" content="{{post.image.url}}">
		<meta name="twitter:image:src" content="{{post.image.url}}">
		<meta property="og:url" content="{{post.fullposturl}}">
		<meta name="twitter:url" content="{{post.fullposturl}}">
		<meta property="article:published_time" content="{{post.publisheddate}}">
		{{# each post.categories}}
			<meta property="article:tag" content="{{name}}">
		{{/each}}
		<meta name="keywords" content="{{# each post.categories}}{{name}}, {{/each}}">
	{{else}}
		<title>{{data.page.title}}</title>
		<meta name="description" content="{{@root.siteSettings.metaDescription}}">
		<meta property="og:image" content="{{baseurl}}/images/logo.png">
		<meta name="twitter:image:src" content="{{baseurl}}/images/logo.png">
		<meta name="keywords" content="node.js, development, api">
	{{/if}}

	<link href="/styles/site.css" rel="stylesheet">
	<!--{{{isAdminEditorCSS user}}}-->
	{{#ifCond section "==" "home"}}
		<link href="/js/fullpage.js/dist/jquery.fullpage.css" rel="stylesheet">
	{{/ifCond}}
    <!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
	<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">

{{#ifCond section "==" "product"}}	
	<link rel="canonical" href="https://{{#if product.canonicalDiscipline}}{{product.canonicalDiscipline.slug}}.{{/if}}kaliprotectives.com/{{product.mainCategory.slug}}/{{product.subCategory.slug}}/{{product.slug}}"/>
{{/ifCond}}

	<meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="google-site-verification" content="dI-RltPLU3KpavtHz3jFnU2daR9kCYpOsxYOM5s-Wh8" />
</head>
<body>
<div class="container{{#ifCond section "==" "home"}}{{#if discipline}} fullpage-nav{{/if}}{{/ifCond}}{{#ifCond section "==" "technology"}} fullpage-nav{{/ifCond}}">
	{{> nav}}
</div>

<div id="body" class="clearfix">
	{{#if messages}}
        <div id="flash-messages" class="container">
			{{#if messages.info}}
                <div class="alert alert-info">
					{{{flashMessages messages.info}}}
                </div>
			{{/if}}
			{{#if messages.success}}
                <div class="alert alert-success">
					{{{flashMessages messages.success}}}
                </div>
			{{/if}}
			{{#if messages.warning}}
                <div class="alert alert-warning">
					{{{flashMessages messages.warning}}}
                </div>
			{{/if}}
			{{#if messages.error}}
                <div class="alert alert-danger">
					{{{flashMessages messages.error}}}
                </div>
			{{/if}}
        </div>
	{{/if}}
	{{{body}}}
</div>
{{#ifCond section "!=" "home"}}
	{{#ifCond section "!=" "technology"}}
		{{> footer}}
	{{/ifCond}}
{{/ifCond}}
{{#ifCond section "==" "home"}}
	{{#unless discipline}}
		{{> footer}}
	{{/unless}}
{{/ifCond}}

<script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/js/cloudinary-jquery-file-upload/cloudinary-jquery-file-upload.min.js"></script>
<script type="text/javascript">
    $.cloudinary.config({cloud_name: 'kaliprotectives-com', api_key: "277924468792588"});
</script>
<script src="/js/jquery-ui/jquery-ui.js" defer></script>

<script src="/js/owl.carousel/dist/owl.carousel.js" defer></script>
{{#ifCond section "==" "home"}}
	{{#if discipline}}
		<script src="/js/jquery.easing/js/jquery.easing.js"></script>
		<!-- This following line is only necessary in the case of using the plugin option `scrollOverflow:true` -->
		<script type="text/javascript" src="/js/jquery-slimscroll/jquery.slimscroll.js"></script>
		<script type="text/javascript" src="/js/fullpage.js/dist/jquery.fullpage.js"></script>
		<script type="text/javascript" src="/js/fullpage.js/dist/jquery.fullpage.extensions.min.js"></script>
	{{/if}}
{{/ifCond}}
{{#ifCond section "==" "technology"}}
	<script src="/js/jquery.easing/js/jquery.easing.js"></script>
	<!-- This following line is only necessary in the case of using the plugin option `scrollOverflow:true` -->
	<script type="text/javascript" src="/js/jquery-slimscroll/jquery.slimscroll.js"></script>
	<script type="text/javascript" src="/js/fullpage.js/dist/jquery.fullpage.js"></script>
	<script type="text/javascript" src="/js/fullpage.js/dist/jquery.fullpage.extensions.min.js"></script>
{{/ifCond}}

{{#ifCond section "==" "product"}}
	<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js" defer></script>
	<script src="/js/salvattore/dist/salvattore.min.js" defer></script>
{{/ifCond}}

{{#ifCond section "==" "republik"}}
	<script src="/js/salvattore/dist/salvattore.min.js" defer></script>
{{/ifCond}}


<!--bootstrap 3.3.6 -->
<!--<script src="/js/bootstrap/dist/js/bootstrap.min.js"></script>-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
		integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous" defer></script>

{{#ifCond section "==" "dealer-locator"}}
    <script src="/js/handlebars/handlebars.min.js"></script>
    <script src="/js/markerclusterer/markerclusterer.js"></script>
	<script src="/js/jquery-debounce/jquery.debounce.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?v=3&amp;file=api&amp;&amp;key=AIzaSyC9sIhHuSUCau1Gqvp2MAm4HqmUgho7joY&libraries=places"></script>
    <script type="text/javascript">var apiKey = "AIzaSyC9sIhHuSUCau1Gqvp2MAm4HqmUgho7joY";</script>
    <script src="/js/gmaps/gmaps.js"></script>
{{/ifCond}}

<!--{{{isAdminEditorJS user}}}-->

	<script type="text/javascript">
		$('.buy-button').on('click', function(){
			ga('send', {
				hitType: 'event',
				eventCategory: 'Buy Button',
				eventAction: 'click',
				eventLabel: "Buy Button"
			});
		});

	</script>
	{{> blog-dom-ready}}


{{#ifCond section '==' 'products' }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.product-category-href').on('click', function (e) {

                var href =$(this).attr('data-href');
                window.location = href;

            });
        });
    </script>

{{/ifCond}}
{{#ifCond section '==' 'technology' }}
    <script type="text/javascript">
        $(document).ready(function () {
			if(screen.width > 480) {
				$('#fullpage').fullpage({
					//sectionsColor: ['#f2f2f2','#4BBFC3','#7BAABE','whitesmoke'],
					css3: true,
					
					slidesNavigation: true,
					slidesNavPosition: 'top',
					lazyLoading: false,
					loopBottom: true,
					responsiveWidth:768,
					//scrollBar: true,
					onLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex){
						var length = $('.fp-section').length;
						if(index == length){
							$('.arrowDown').css({color:'#FFF'});
						}else{
							$('.arrowDown').css({color:'#000'});
						}
					},

					//interlockedSlides: true,
					//responsiveSlides: true
				});
				$('.arrowDown').click(function () {
					$.fn.fullpage.moveSectionDown();
				});
			}
        });
    </script>

{{/ifCond}}

{{#ifCond section "==" "home"}}
	{{#unless discipline}}
		
		{{> index-home-dom-ready}}

	{{else}}
		<script type="text/javascript">
			$(document).ready(function() {
				if(screen.width > 480) {
					$('#fullpage').fullpage({
						//sectionsColor: ['#f2f2f2','#4BBFC3','#7BAABE','whitesmoke'],
						css3: true,
						navigation: false,
						lazyLoading: false,
						loopBottom: true,
						responsiveWidth:768,
						//scrollBar: true,
						onLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex){
							var length = $('.fp-section').length;
							if(index == length){
								$('.arrowDown').css({color:'#FFF'});
							}else{
								$('.arrowDown').css({color:'#000'});
							}
						},

						//interlockedSlides: true,
						//responsiveSlides: true
					});
					$('.arrowDown').click(function () {
						$.fn.fullpage.moveSectionDown();
					});
				}
			});
		</script>
		{{> index-dom-ready}}

	{{/unless}}
{{/ifCond}}

{{#ifCond section '==' 'product' }}
	{{> product-dom-ready product=product}}
{{/ifCond}}
{{#ifCond section '==' 'dealer-locator' }}
	{{> dealer-locator-dom-ready}}
{{/ifCond}}
<script>
    $(document).ready(function () {
        var section = '{{section}}';
        //console.log('section: ', section);
        if (section !== 'product' && section !== 'technology' && section !== 'republik') {
            $.cloudinary.responsive();
        }
        /*$('.product-section-nav').affix({
            offset: {
                top: $('.product-section-nav').height()
            }
        });*/

		$('a.nav-anchor[href*="#"]:not([href="#"])').click(function () {
			if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var label = $(this).attr('href');
                ga('send', {
                    hitType: 'event',
                    eventCategory: 'Product category nav scroll',
                    eventAction: 'click',
                    eventLabel: label
                });
				
				var target = $(this.hash);
				target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
				if (target.length) {
					$('html, body').animate({
						scrollTop: target.offset().top
					}, 1000);
					return false;
				}
				
			}
		});

        $('a.banner-anchor[href*="#"]:not([href="#"])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var label = $(this).attr('href');
                /*ga('send', {
                    hitType: 'event',
                    eventCategory: 'Product category nav scroll',
                    eventAction: 'click',
                    eventLabel: label
                });*/

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }

            }
        });
		
		$('.social-icon-facebook').click(function(e){
            ga('send', {
                hitType: 'event',
                eventCategory: 'Footer Social Icon',
                eventAction: 'click',
                eventLabel: "Facebook"
            });
		});
        $('.social-icon-instagram').click(function(e){
            ga('send', {
                hitType: 'event',
                eventCategory: 'Footer Social Icon',
                eventAction: 'click',
                eventLabel: "Instagram"
            });
        });
        $('.social-icon-twitter').click(function(e){
            ga('send', {
                hitType: 'event',
                eventCategory: 'Footer Social Icon',
                eventAction: 'click',
                eventLabel: "Twitter"
            });
        });
        $('.social-icon-youtube').click(function(e){
            ga('send', {
                hitType: 'event',
                eventCategory: 'Footer Social Icon',
                eventAction: 'click',
                eventLabel: "Youtube"
            });
        });

		$('.home .buy-button').click(function(e){
		    var href = $(e.target).parent().attr('href');
			ga('send', {
				hitType: 'event',
				eventCategory: 'Home Buy Button',
				eventAction: 'click',
				eventLabel: "Url: " + href
			});
		});
	
    });
</script>
<!-- Google Analytics -->
<script>
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', '{{ga_key}}', 'auto');
	ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->
</body>
</html>
