<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>kali</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="/styles/site.css" rel="stylesheet">
    
	{{!-- This file provides the default styling for the KeystoneJS Content Editor
        - only renders when user is logged in and admin--}}
	{{{isAdminEditorCSS user}}}

	{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    //- Safely remove this block if you are not targeting IE8 --}}
    <!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
	<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	{{!--
        //- jQuery 1.11.3 is included by default, and required by both Bootstrap
        //- and the KeystoneJS Content Editor. If you are not targeting IE8,
        //- you can upgrade to 2.1.4 (also bundled) for better performance.
    --}}
    <!--<script src="/js/jquery/jquery-1.11.3.min.js"></script>-->
    <!--jquery 2.2.1-->
    <script src="/js/jquery/dist/jquery.min.js"></script>
	
</head>
<body>
<div class="container">
<nav class="navbar  navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img class="navbar-logo" src="{{cloudinaryUrl siteSettings.nav-logo-large.imageValue width=130}}" alt="Kali Protectives"/>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-main">
            <ul class="nav navbar-nav">
				{{# each navLinks}}
					{{#unless @last}}
						{{#if dropdown}}
                            <li class="hidden-xs hidden-sm"><a href="{{href}}">{{label}}</a></li>
                            <li class="dropdown visible-xs visible-sm">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{label}}<span class="caret"></span></a>
                                <ul class="dropdown-menu">
									{{#each dropdown}}
                                        <li><a href="{{href}}">{{label}}</a></li>
									{{/each}}
                                </ul>
                            </li>
						{{else}}
                            <li class=""><a href="{{href}}">{{label}}</a></li>
						{{/if}}
					{{else}}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{href}}">{{label}}</a></li>
					{{/unless}}
				{{/each}}
            </ul>
        </div>
    </div>
</nav>
</div>

    <div id="body" class="clearfix">
        <!--
            Flash messages allow you to display once-off status messages to users, e.g. form
            validation errors, success messages, etc
        -->
		{{#if messages}}
		<div id="flash-messages" class="container">
			{{#if messages.info}}
			<div class="alert alert-info">
				{{{flashMessages messages.info}}}
			</div>
			{{/if}}
			{{#if messages.success}}
			<div class="alert alert-success">
				{{{flashMessages messages.success}}}
			</div>
			{{/if}}
			{{#if messages.warning}}
			<div class="alert alert-warning">
				{{{flashMessages messages.warning}}}
			</div>
			{{/if}}
			{{#if messages.error}}
			<div class="alert alert-danger">
				{{{flashMessages messages.error}}}
			</div>
			{{/if}}
		</div>
		{{/if}}
        <!-- The content block should contain the body of your template's content-->
		{{{body}}}
    </div>
    {{> footer}}
    {{!--
        //- Customise which Bootstrap javascript files are served by including
        //- them specifically here, instead of bootstrap-3.3.5.min.js
    --}}
    <!--bootstrap 3.3.6 -->
    <script src="/js/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/handlebars/handlebars.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?v=3&amp;file=api&amp;&amp;key=AIzaSyC9sIhHuSUCau1Gqvp2MAm4HqmUgho7joY"></script>
	<script type="text/javascript">var apiKey = "AIzaSyC9sIhHuSUCau1Gqvp2MAm4HqmUgho7joY";</script>
    <script src="/js/plugins/storeLocator/jquery.storelocator.js"></script>
	
	<script src="/js/lazysizes/lazysizes.min.js" async=""></script>
	<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
	<script src="/js/bootstrap-image-gallery.js"></script>
	
	{{{isAdminEditorJS user}}}

    <script>
		var borderless = true;
        $('#blueimp-gallery').data('fullScreen', false);
        $('#blueimp-gallery').data('useBootstrapModal', !borderless);
        $('#blueimp-gallery').toggleClass('blueimp-gallery-controls', borderless);
		
        $(document).ready(function () {
            $('.image-toggler').click(function () {
                $('.image-toggle').hide();
                $($(this).attr('data-image-id')).show();
            });
			
            $(function() {
                $('a.nav-anchor[href*="#"]:not([href="#"])').click(function() {
                    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                        if (target.length) {
                            $('html, body').animate({
                                scrollTop: target.offset().top
                            }, 1000);
                            return false;
                        }
                    }
                });
            });
        });
    </script>
</body>
</html>
