<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="theme-color" content="#4cbb17"/>-->
	{{#if devSite}}
		<meta name="robots" content="noindex">
	{{/if}}    
	{{#if post}}
		{{#if post.meta.title}}
			<title>{{post.meta.title}} - Kali Protectives</title>
			<meta property="og:title" content="{{post.meta.title}} - Kali Protectives">
			<meta name="twitter:title" content="{{post.meta.title}} - Kali Protectives">
		{{else}}
			<title>{{post.name}} - Kali Protectives</title>
			<meta property="og:title" content="{{post.name}} - Kali Protectives">
			<meta name="twitter:title" content="{{post.name}} - Kali Protectives">
		{{/if}}
		{{#if post.meta.description}}
			<meta name="description" content="{{post.meta.description}}">
			<meta property="og:description" content="{{post.meta.description}}">
			<meta name="twitter:description" content="{{post.meta.description}}">
		{{else}}
			<meta name="description" content="{{post.content.brief}}">
			<meta property="og:description" content="{{post.content.brief}}">
			<meta name="twitter:description" content="{{post.content.brief}}">
		{{/if}}
		<meta property="og:type" content="article">
		<meta name="twitter:card" content="summary_large_image">
		<meta property="og:image" content="{{post.image.url}}">
		<meta name="twitter:image:src" content="{{post.image.url}}">
		<meta property="og:url" content="{{post.fullposturl}}">
		<meta name="twitter:url" content="{{post.fullposturl}}">
		<meta property="article:published_time" content="{{post.publisheddate}}">
		{{# each post.categories}}
			<meta property="article:tag" content="{{name}}">
		{{/each}}
		<meta name="keywords" content="{{# each post.categories}}{{name}}, {{/each}}">
	{{else}}
		<title>{{data.page.title}}</title>
		<meta name="description" content="{{@root.siteSettings.metaDescription}}">
		<meta property="og:image" content="{{baseurl}}/images/logo.png">
		<meta name="twitter:image:src" content="{{baseurl}}/images/logo.png">
		<meta name="keywords" content="kali protectives, helmets, armor, mtb, mountain biking">
	{{/if}}

	<link href="/styles/site.css" rel="stylesheet">
	<!--{{{isAdminEditorCSS user}}}-->
	{{#ifCond section "==" "home"}}
		<link href="/js/fullpage.js/dist/jquery.fullpage.css" rel="stylesheet">
	{{/ifCond}}
    <!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
	<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
	<!--<script>
		var font = new FontFace("Gotham-Light", "url(/fonts/Gotham-Light.woff2) format('woff2'), url(/fonts/Gotham-Light.woff) format('woff'), url(/fonts/Gotham-Light.eot) format('eot')", {
			style: 'normal', unicodeRange: 'U+000-5FF', weight: '400'
		});
		// don't wait for the render tree, initiate an immediate fetch!
		font.load().then(function() {
			document.fonts.add(font);
		});
		
		font = new FontFace("Gotham-Black", "url(/fonts/GothamBlack.woff2) format('woff2'), url(/fonts/GothamBlack.woff) format('woff'), url(/fonts/GothamBlack.eot) format('eot')", {
			style: 'normal', unicodeRange: 'U+000-5FF', weight: '400'
		});
		// don't wait for the render tree, initiate an immediate fetch!
		font.load().then(function() {
			document.fonts.add(font);
		});
		
		font = new FontFace("Gotham-Medium", "url(/fonts/GothamMedium.woff2) format('woff2'), url(/fonts/GothamMedium.woff) format('woff'), url(/fonts/GothamMedium.eot) format('eot')", {
			style: 'normal', unicodeRange: 'U+000-5FF', weight: '400'
		});
		// don't wait for the render tree, initiate an immediate fetch!
		font.load().then(function() {
			document.fonts.add(font);
		});

	</script>-->
{{#ifCond section "==" "product"}}	
	<link rel="canonical" href="https://{{#if product.canonicalDiscipline}}{{product.canonicalDiscipline.slug}}.{{/if}}kaliprotectives.com/{{product.mainCategory.slug}}/{{product.subCategory.slug}}/{{product.slug}}"/>
{{/ifCond}}

	<meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="google-site-verification" content="dI-RltPLU3KpavtHz3jFnU2daR9kCYpOsxYOM5s-Wh8" />

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css">
</head>
<body>
<div class="{{#ifCond section "==" "home"}}{{#if discipline}}fullpage-nav{{/if}}{{/ifCond}}">
	{{> nav}}
</div>

<div id="body" class="clearfix">
	{{#if messages}}
        <div id="flash-messages" class="container">
			{{#if messages.info}}
                <div class="alert alert-info">
					{{{flashMessages messages.info}}}
                </div>
			{{/if}}
			{{#if messages.success}}
                <div class="alert alert-success">
					{{{flashMessages messages.success}}}
                </div>
			{{/if}}
			{{#if messages.warning}}
                <div class="alert alert-warning">
					{{{flashMessages messages.warning}}}
                </div>
			{{/if}}
			{{#if messages.error}}
                <div class="alert alert-danger">
					{{{flashMessages messages.error}}}
                </div>
			{{/if}}
        </div>
	{{/if}}
	{{{body}}}
</div>
{{#ifCond section "!=" "home"}}
	{{> footer}}
{{/ifCond}}
{{#ifCond section "==" "home"}}
	{{#unless discipline}}
		{{> footer}}
	{{/unless}}
{{/ifCond}}

<script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/js/cloudinary-jquery-file-upload/cloudinary-jquery-file-upload.min.js"></script>
<script type="text/javascript">
    $.cloudinary.config({cloud_name: 'kaliprotectives-com', api_key: "277924468792588"});
    
</script>
<script src="/js/jquery-ui/jquery-ui.js" defer></script>

<script src="/js/owl.carousel/dist/owl.carousel.js" defer></script>
{{#ifCond section "==" "home"}}
	{{#if discipline}}
		<script src="/js/jquery.easing/js/jquery.easing.js"></script>
		<!-- This following line is only necessary in the case of using the plugin option `scrollOverflow:true` -->
		<script type="text/javascript" src="/js/jquery-slimscroll/jquery.slimscroll.js"></script>
		<script type="text/javascript" src="/js/fullpage.js/dist/jquery.fullpage.js"></script>
		<script type="text/javascript" src="/js/fullpage.js/dist/jquery.fullpage.extensions.min.js"></script>
	{{/if}}
{{/ifCond}}

{{#ifCond section "==" "product"}}
	<script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js" defer></script>
	<script src="/js/salvattore/dist/salvattore.min.js" defer></script>
{{/ifCond}}

{{#ifCond section "==" "republik"}}
	<script src="/js/jquery-debounce/jquery.debounce.js"></script>
	<script src="/js/salvattore/dist/salvattore.min.js" defer></script>
{{/ifCond}}
{{#ifCond section "==" "technology"}}
	<script src="/js/jquery-debounce/jquery.debounce.js"></script>
	<script src="/js/owl.carousel/src/js/owl.autoplay.js" defer></script>
	<script src="/js/salvattore/dist/salvattore.min.js" defer></script>
{{/ifCond}}
{{#ifCond section "==" "technology-detail"}}
	<script src="/js/jquery-debounce/jquery.debounce.js"></script>
	<script src="/js/salvattore/dist/salvattore.min.js" defer></script>
{{/ifCond}}


<!--bootstrap 3.3.6 -->
<!--<script src="/js/bootstrap/dist/js/bootstrap.min.js"></script>-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
		integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous" defer></script>

{{#ifCond section "==" "dealer-locator"}}
    <script src="/js/handlebars/handlebars.min.js"></script>
    <script src="/js/markerclusterer/markerclusterer.js"></script>
	<script src="/js/jquery-debounce/jquery.debounce.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?v=3&amp;file=api&amp;&amp;key=AIzaSyC9sIhHuSUCau1Gqvp2MAm4HqmUgho7joY&libraries=places"></script>
    <script type="text/javascript">var apiKey = "AIzaSyC9sIhHuSUCau1Gqvp2MAm4HqmUgho7joY";</script>
    <script src="/js/gmaps/gmaps.js"></script>
{{/ifCond}}

<!--{{{isAdminEditorJS user}}}-->

	<script type="text/javascript">
		$('.buy-button').on('click', function(){
			ga('send', {
				hitType: 'event',
				eventCategory: 'Buy Button',
				eventAction: 'click',
				eventLabel: "Buy Button"
			});
		});

	</script>
	{{> blog-dom-ready}}


{{#ifCond section '==' 'products' }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.product-category-href').on('click', function (e) {

                var href =$(this).attr('data-href');
                window.location = href;

            });
        });
    </script>

{{/ifCond}}



	<script type="text/javascript">

		$(document).ready(function () {
			//default.hbs technology-dom-ready

			{{#each post.gallery.widgets}}
				{{#ifCond this.key "!=" "null"}}
					$(function() {
						var widget = {{{widget}}};
						//console.log({{{json this}}});

						if('{{type}}' === 'carousel' || '{{type}}' === 'technology-subnav'){
							var $container = $('#widget-{{key}} .owl-carousel').first();
							
							$container.owlCarousel({{{carousel.settings}}});

							{{#each carousel.widgets}}
								if('{{type}}' === 'carousel') {
									$container = $('#widget-{{key}} > .owl-carousel');
									$container.owlCarousel({{{carousel.settings}}});
								}
							{{/each}}
						
						}
					});
				{{/ifCond}}
			{{/each}}

		});
	</script>
	{{> technology-dom-ready}}


{{#ifCond section "==" "home"}}
	{{#unless discipline}}
		
		{{> index-home-dom-ready}}

	{{else}}
		<script type="text/javascript">
			$(document).ready(function() {
				if(screen.width > 480) {
					$('#fullpage').fullpage({
						//sectionsColor: ['#f2f2f2','#4BBFC3','#7BAABE','whitesmoke'],
						css3: true,
						navigation: false,
						lazyLoading: false,
						loopBottom: true,
						responsiveWidth:768,
						//scrollBar: true,
						onLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex){
							var length = $('.fp-section').length;
							if(index == length){
								$('.arrowDown').css({color:'#FFF'});
							}else{
								$('.arrowDown').css({color:'#000'});
							}
						},

						//interlockedSlides: true,
						//responsiveSlides: true
					});
					$('.arrowDown').click(function () {
						$.fn.fullpage.moveSectionDown();
					});
				}
			});
		</script>
		{{> index-dom-ready}}

	{{/unless}}
{{/ifCond}}

{{#ifCond section '==' 'product' }}
	{{> product-dom-ready product=product}}
{{/ifCond}}
{{#ifCond section '==' 'dealer-locator' }}
	{{> dealer-locator-dom-ready}}
{{/ifCond}}
<script>
    $(document).ready(function () {
        var section = '{{section}}';
        //console.log('section: ', section);
        //if (section !== 'product' && section !== 'technology' && section !== 'republik') {
		if (section !== 'product' ) {
            $.cloudinary.responsive();
        }
        
        // Set vcenter class since it's display:inline and cloudinary.responsive() needs to calculate the container 
		// size for image dimensions on a display:block.  
		$('.set-vcenter').addClass('vcenter');

		/*$('.product-section-nav').affix({
            offset: {
                top: $('.product-section-nav').height()
            }
        });*/

		$('a.nav-anchor[href*="#"]:not([href="#"])').click(function () {
			if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var label = $(this).attr('href');
                ga('send', {
                    hitType: 'event',
                    eventCategory: 'Product category nav scroll',
                    eventAction: 'click',
                    eventLabel: label
                });
				
				var target = $(this.hash);
				target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
				if (target.length) {
					$('html, body').animate({
						scrollTop: target.offset().top
					}, 1000);
					return false;
				}
				
			}
		});

        $('a.banner-anchor[href*="#"]:not([href="#"])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var label = $(this).attr('href');
                /*ga('send', {
                    hitType: 'event',
                    eventCategory: 'Product category nav scroll',
                    eventAction: 'click',
                    eventLabel: label
                });*/

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }

            }
        });
		
		$('.social-icon-facebook').click(function(e){
            ga('send', {
                hitType: 'event',
                eventCategory: 'Footer Social Icon',
                eventAction: 'click',
                eventLabel: "Facebook"
            });
		});
        $('.social-icon-instagram').click(function(e){
            ga('send', {
                hitType: 'event',
                eventCategory: 'Footer Social Icon',
                eventAction: 'click',
                eventLabel: "Instagram"
            });
        });
        $('.social-icon-twitter').click(function(e){
            ga('send', {
                hitType: 'event',
                eventCategory: 'Footer Social Icon',
                eventAction: 'click',
                eventLabel: "Twitter"
            });
        });
        $('.social-icon-youtube').click(function(e){
            ga('send', {
                hitType: 'event',
                eventCategory: 'Footer Social Icon',
                eventAction: 'click',
                eventLabel: "Youtube"
            });
        });

		$('.home .buy-button').click(function(e){
		    var href = $(e.target).parent().attr('href');
			ga('send', {
				hitType: 'event',
				eventCategory: 'Home Buy Button',
				eventAction: 'click',
				eventLabel: "Url: " + href
			});
		});

		/*function isScrolledIntoView(elem)
		{
			var docViewTop = $(window).scrollTop();
			var docViewBottom = docViewTop + $(window).height();

			var elemTop = $(elem).offset().top;
			var elemBottom = elemTop + $(elem).height();

			return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
		}*/
		function isScrolledIntoView(elem)
		{
			var docViewTop = $(window).scrollTop();
			

			var elemTop = $(elem).offset().top;
			
			return (elemTop >= docViewTop);
		}
		
		var blogIndexPage = 1;
		var blogIndexPageFetching = 1;
		
		$(window).scroll(function(e){
			console.log('scrolling...');
			console.log('footer in view:', isScrolledIntoView('.blog-index-item'));
			
			var section = '{{@root.section}}';
			if( section.indexOf('technology-detail') > -1){
				section = 'technology';
			}
			if(isScrolledIntoView('#footer')){
				
				if(blogIndexPageFetching === blogIndexPage){
					$('#blog-index .spinner').fadeIn();
					blogIndexPageFetching++;
					$.ajax({
						url: '/api/republik/posts?page=' + blogIndexPageFetching,
						success: function(result){
							console.log(result);
							if(result.posts.currentPage === result.posts.pages[result.posts.pages.length-1] || result.posts.results.length === 0){
								blogIndexPage = 0;
								$('#blog-index .spinner').remove();
								return;
							}
							var item = document.createElement('div');
							var grid = $('#blog-columns');
							result.posts.results.forEach(function(post){
								console.log(post);
								var img = "";
								if(post.mainImage && post.mainImage.url){
									img = post.mainImage.url;
									var parts = img.split('upload/');
									img = parts[0] + 'upload/f_auto,w_auto/' + parts[1];
									img = img.replace('http://', 'https://');
								}
								window.salvattore['append_elements'](grid[0], [item]);
								var html = '<a href="/' + section + '/post/' + post.key + '">';
								html += '<div class="blog-index-item fadeInUp animated" style="display:none">\n' +
										'\t\t\t\t<div class="blog-main-image">\n' +
										'\t\t\t\t\t<img data-src="' + img +'" class="cld-responsive" src=""/>\n' +
										'\t\t\t\t</div>\n' +
										'\t\t\t\t<h3>' + post.name + '</h3>\n' +
										'\t\t\t\t<div class="blog-main-content">\n' +
										'\t\t\t\t\t' + post.content.brief + '\n' +
										'\t\t\t\t</div>\n' +
										'\t\t\t\t<hr/>\n' +
										'\t\t\t</div>';
								
								html += '</a>';
								item.outerHTML = html;
								$.cloudinary.responsive();
								$('#blog-index .spinner').fadeOut();
								setTimeout(function(){
									$current = $('.blog-index-item:hidden');
									if($current.length){
										$current.css('display', 'block');
									}
								},100);
							});
							blogIndexPage++;

						}
					})

				}
			}
		});
	
    });
</script>
<!-- Google Analytics -->
<script>
	window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
	ga('create', '{{ga_key}}', 'auto');
	ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->

<!-- Facebook Pixel Code -->
<script>
	!function(f,b,e,v,n,t,s)
	{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window, document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '1226138120837257');
	fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
			   src="https://www.facebook.com/tr?id=1226138120837257&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

</body>
</html>
