<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{data.page.title}}</title>
    <link href="/styles/site.css" rel="stylesheet">
	<!--{{{isAdminEditorCSS user}}}-->
    <!--[if lt IE 9]>
	<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
	<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="container">
	{{> nav}}
</div>

<div id="body" class="clearfix">
	{{#if messages}}
        <div id="flash-messages" class="container">
			{{#if messages.info}}
                <div class="alert alert-info">
					{{{flashMessages messages.info}}}
                </div>
			{{/if}}
			{{#if messages.success}}
                <div class="alert alert-success">
					{{{flashMessages messages.success}}}
                </div>
			{{/if}}
			{{#if messages.warning}}
                <div class="alert alert-warning">
					{{{flashMessages messages.warning}}}
                </div>
			{{/if}}
			{{#if messages.error}}
                <div class="alert alert-danger">
					{{{flashMessages messages.error}}}
                </div>
			{{/if}}
        </div>
	{{/if}}
	{{{body}}}
</div>
{{> footer}}
<script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<script src="/js/cloudinary-jquery-file-upload/cloudinary-jquery-file-upload.min.js"></script>
<script type="text/javascript">
    $.cloudinary.config({cloud_name: 'kaliprotectives-com', api_key: "277924468792588"});
</script>
{{#ifCond section "==" "product"}}
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
{{/ifCond}}

<!--bootstrap 3.3.6 -->
<!--<script src="/js/bootstrap/dist/js/bootstrap.min.js"></script>-->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
		integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>

{{#ifCond section "==" "dealer-locator"}}
    <script src="/js/handlebars/handlebars.min.js"></script>
    <script src="/js/markerclusterer/markerclusterer.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?v=3&amp;file=api&amp;&amp;key=AIzaSyC9sIhHuSUCau1Gqvp2MAm4HqmUgho7joY"></script>
    <script type="text/javascript">var apiKey = "AIzaSyC9sIhHuSUCau1Gqvp2MAm4HqmUgho7joY";</script>
    <script src="/js/plugins/storeLocator/jquery.storelocator.js"></script>
{{/ifCond}}
<!--{{{isAdminEditorJS user}}}-->
{{#ifCond section '==' 'product' }}
	{{> product-dom-ready}}
{{/ifCond}}
{{#ifCond section '==' 'dealer-locator' }}
	{{> dealer-locator-dom-ready}}
{{/ifCond}}
<script>
    $(document).ready(function () {
        var section = '{{section}}';
        //console.log('section: ', section);
        if (section !== 'product') {
            $.cloudinary.responsive();
        }
        /*$('.product-section-nav').affix({
            offset: {
                top: $('.product-section-nav').height()
            }
        });*/

		$('a.nav-anchor[href*="#"]:not([href="#"])').click(function () {
			if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                var label = $(this).attr('href');
                ga('send', {
                    hitType: 'event',
                    eventCategory: 'Product category nav scroll',
                    eventAction: 'click',
                    eventLabel: label
                });
				
				var target = $(this.hash);
				target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
				if (target.length) {
					$('html, body').animate({
						scrollTop: target.offset().top
					}, 1000);
					return false;
				}
				
			}
		});
		
	
    });
</script>
<script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '{{ga_key}}', 'auto');
    ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>
</body>
</html>
