<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h4 class="text-weight-normal">Showing {{ data.posts.results.length}} post{{#ifCond data.posts.results.length ">" 1}}s{{/ifCond}}.</h4>
			<div class="blog">
				
				{{# each data.posts.results}}
				
				{{#ifCond postLayout.key "==" "slide-one"}}
					{{> post-layouts/blog/slide-one}}
				{{else}}
					{{#ifCond postLayout.key "==" "youtube-full"}}
						{{> post-layouts/blog/youtube-full}}
					{{else}}
						{{> post-layouts/blog/post-basic}}
					{{/ifCond}}
				{{/ifCond}}
				
				{{/each}}
			</div>
		</div>
		<!--<div class="col-sm-4 col-md-3">
			<h2>Categories</h2>
			<div style="margin-top: 70px;" class="list-group">
				<a href="/blog" class="active list-group-item">All Categories</a>
				{{# each data.categories }}
				<a href="{{categoryUrl key}}" class="false list-group-item">{{name}}</a>
				{{/each}}
			</div>
		</div>-->
	</div>
	{{>pagination}}
</div>
