<!-- if helmets -->
{{#if helmets}}
	{{> nav-helmet-categories navHelmets}}	

<div class="container helmets">
	{{#each helmets}}
		<a id="{{slug}}" class="helmet-category-anchor">helmet category anchor</a>
		<div class="row"><div class="col-sm-12"><h3>{{name}}</h3></div></div>
		{{#each this.helmets}}
			<div class="row">
				<div class="col-sm-6">
					<a href="/{{this.mainCategory.slug}}/{{this.subCategory.slug}}/{{this.slug}}">
						<img class="img-responsive lazyload" src="{{cloudinaryUrl this.heroImage width=555}}"/>
					</a>
				</div>
				<div class="col-sm-6">
					<h2>{{this.name}}</h2>
					{{safeString this.specs}}
				</div>
			</div>
		{{/each}}
	{{/each}}
</div>
{{else}}
<!-- else -->
<h3 class="text-muted">No helmets exist.</h3>
{{/if}}
