<!-- if helmets -->
{{#if helmets}}
	
{{#unless helmetSubCategory}}
	{{> nav-helmet-categories helmets}}	
{{/unless}}

<div class="container helmets">
	{{#each helmets}}
		<div class="row"><div id="{{slug}}" class="col-sm-12" style="{{#unless @first}}margin-top:-80px;{{/unless}}padding-top:100px;"><h3>{{name}}</h3></div></div>
		{{#each this.helmets}}
			<div class="row">
				<div class="col-sm-6">
					<a href="{{this.url}}">
						<img class="img-responsive lazyload" src="{{this.heroImage.url}}"/>
					</a>
				</div>
				<div class="col-sm-6">
					<h2>{{this.name}}</h2>
					{{safeString this.specs}}
				</div>
			</div>
		{{/each}}
	{{/each}}
</div>
{{else}}
<!-- else -->
<h3 class="text-muted">No helmets exist.</h3>
{{/if}}
