<!-- if helmets -->
{{#if helmets}}
	{{> nav-helmet-categories navHelmets}}	

<div class="container helmets">
	{{#each helmets}}
        <a id="{{slug}}" class="helmet-category-anchor">{{name}} category anchor</a>
        <div class="row">
            <div class="col-sm-12"><a href="/{{../helmetCategory}}/{{slug}}"><h2>{{name}}</h2></a></div>
        </div>
		{{#each this.helmets}}
			<!-- visible on phones and tablets -->
			<div class="row visible-xs visible-sm">
				<div class="col-sm-6">
					<a href="/{{this.mainCategory.slug}}/{{this.subCategory.slug}}/{{this.slug}}">
						<img class="img-responsive lazyload" src="{{cloudinaryUrl this.heroImage width=555}}"/>
					</a>
				</div>
				<div class="col-sm-6">
					<h1>{{this.name}}</h1>
					{{{description}}}
					{{{specs}}}
				</div>
			</div>
		
			<!-- visible on desktop -->
            <div class="col-sm-6 hidden-xs hidden-sm">
                <div class="helmet-category-item">
                    <h1>{{this.name}}</h1>
                    <a href="/{{this.mainCategory.slug}}/{{this.subCategory.slug}}/{{this.slug}}">
                        <img class="img-responsive lazyload" src="{{cloudinaryUrl this.heroImage width=555}}"/>
						<div class="helmet-category-item-overlay">
							<h1>{{this.name}}</h1>
							{{{usageChart}}}
							{{{specs}}}
						</div>
                    </a>\
				</div>
            </div>
		{{/each}}
	{{/each}}
</div>
{{else}}
<!-- else -->
<h3 class="text-muted">No helmets exist.</h3>
{{/if}}
