<div class="container">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<article>
				<p><a href="/blog">&larr; back to the blog</a></p>
				<hr>
				<header>
					<h1>{{post.name}}</h1>
					<h5>
						{{{categoryList post.categories prefix="Posted in "}}}
					</h5>
				</header>
				<div class="post">
					{{#if post.content.markdown.html}}
						{{{post.content.markdown.html}}}
					{{else}}
						{{{post.content.extended}}}
					{{/if}}
				</div>
			</article>
		</div>
	</div>
</div>
