{{> nav-sub-categories navSubLinks}}
{{#if product}}
	
    {{#container}}
        <div class="product-main row">
            <div class="col-xs-12 col-md-7">
				{{> product-title bootstrap-visibility="visible-xs visible-sm"}}
                <div id="links">
					<!--[536,652,720]-->
				{{#each product.gallery}}
					{{#if @index}}
                        <a href="{{cloudinaryUrl this width=1170 background="#FFFFFF" format="jpg" fetch_format="auto" quality="90"}}"
                           title="{{name}}" data-gallery>
							<img id='product-{{@index}}' data-src="{{cloudinaryUrl width="auto" fetch_format="auto" quality="auto" dpr="auto"}}" class="image-toggle" src="{{cloudinaryUrl width="400" fetch_format="auto" quality="auto"}}" alt="{{../../product.name}}" style="display:none; width:100%"/>
                        </a>
					{{else}}
                        <a href="{{cloudinaryUrl this width=1170 background="#FFFFFF" format="jpg" fetch_format="auto" quality="90"}}"
                           title="{{name}}" data-gallery>
							{{{cloudinaryImg this id='product-0' class='image-toggle' style='width:100%' alt=../../product.name}}}
                        </a>
					{{/if}}
                    
				{{/each}}
					<div class="hidden-xs text-right" style="height:0px;">
						<img id="product-zoom-current"
							 src="{{cloudinaryUrl @root.siteSettings.zoom-icon.imageValue width=40 format="jpg" fetch_format="auto" quality="85"}}"
							 style="margin-top:-70px;margin-right:32px" alt="zoom"/>
					</div>
                </div>
            </div>

            <div class="col-xs-12 col-md-5">
				
				{{> product-title bootstrap-visibility="hidden-xs hidden-sm"}}
				<div class="product-description">
					<p>{{#ifCond @root.params.discipline.slug "==" "moto"}}
						{{#if product.motoDescription}}
							{{{product.motoDescription}}}
						{{else}}
							{{{product.description}}}
						{{/if}}
					{{else}}
						{{{product.description}}}
					{{/ifCond}}</p>
				</div>
				{{> product-gallery class="col-xs-12"}}
				
				{{> product-color-swatches visibleClass="hidden-xs hidden-sm" align="center"}}
				{{#if product.technologies.length}}

					<div class="row technology">

						<div class="col col-xs-5 initialism">
							<strong>Technology</strong>
						</div>

						{{#each product.technologies}}
							<div class="col-xs-3">
								<a href="/technology#{{slug}}">
									<div class="text-center" style="display:inline-block;">
										<img src="{{{cloudinaryUrl flatIconImage fetch_format="auto" }}}"
											 class="cld-responsive" alt="{{name}}"/>
										<h4 style="margin-top:10px;margin-bottom:0px;">{{name}}</h4>
									</div>
								</a>
							</div>
						{{/each}}
					</div>

				{{/if}}

			</div>
		</div>
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-xs-7 col-md-5 initialism">
				{{{product.specs}}}
			</div>
			<div class="col-md-1"></div>
			<div class="col-xs-5 col-md-4">
				<div class="row">
					<div class="col-xs-12 initialism">
						{{{product.usageChart}}}	
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 initialism">
						<a href="/dealers"><h3 style="font-size:1.1em;font-family:Gotham-Black;text-decoration:underline;">Find a Dealer</h3></a>
					</div>
				</div>
				

			</div>
		</div>
		
		
		<!--{{#if product.features.length}}
			<div class="row feature">
				<div class="col-xs-12">
					<ul>
				{{#each product.features}}
					 <li><h4>{{name}}</h4></li>
				{{/each}}
					</ul>
				</div>
			</div>
		{{/if}}-->
		
	{{/container}}
	{{#if data.mainPost}}
		
		{{#with data.mainPost}}
			{{> post-layout}}
		{{/with}}
		
	{{/if}}
	
	{{> product-posts}}
	{{> product-blueimp-gallery-dom}}

{{else}}
    <h3 class="text-muted">Product does not exist.</h3>
{{/if}}

