{{> nav-product-categories products subCategory=subCategory}}

{{#if product}}
    <div class="container">
        <div id="product-main" class="row">
            <div class="col-xs-12 col-md-7">
                <div id="links">
					<!--[536,652,720]-->
				{{#each product.gallery}}
					{{#if @index}}
                        <a href="{{cloudinaryUrl this width=1170 background="#FFFFFF" format="jpg" fetch_format="auto" quality="90"}}"
                           title="{{name}}" data-gallery>
							{{{cloudinaryImgSrcSet screenWidths="[320,360,375,411,414,435,530,630,730,768,992,1200,3840]"
							widths="[290,330,345,381,384,405,500,600,700,738,720,536,652]"
							format="jpg" quality="auto" class="image-toggle cld-responsive" index=@index id="product-"
							onlyShowFirst=true dataSrc=true}}}
                            
                        </a>
					{{else}}
                        <a href="{{cloudinaryUrl this width=1170 background="#FFFFFF" format="jpg" fetch_format="auto" quality="90"}}"
                           title="{{name}}" data-gallery>
							{{{cloudinaryImgSrcSet screenWidths="[320,360,375,411,414,435,530,630,730,768,992,1200,3840]" 
							                       widths="[290,330,345,381,384,405,500,600,700,738,720,536,652]" 
							                       format="jpg" quality="auto" class="image-toggle" index=@index id="product-"
							                       onlyShowFirst=true}}}

                        </a>
					{{/if}}
                    
				{{/each}}
				<!--{{#each product.gallery}}
					<a href="{{cloudinaryUrl this width=1170 background="#FFFFFF" format="jpg" fetch_format="auto" quality="90"}}"
                       title="{{name}}" data-gallery>
                        <img data-src="{{cloudinaryUrl width="auto" format="jpg" fetch_format="auto" quality="90"}}"
                             class="{{#if @first}}cld-responsive {{/if}}image-toggle"
                             id="product-{{@index}}" alt="{{name}}"{{#unless @first}} style="display:none;"{{/unless}}/>
                    </a>
				{{/each}}-->
					<div class="hidden-xs text-right" style="height:0px;">
						<img id="product-zoom-current"
							 src="{{cloudinaryUrl @root.siteSettings.zoom-icon.imageValue width=40 format="jpg" fetch_format="auto" quality="85"}}"
							 style="margin-top:-70px;margin-right:32px" alt="zoom"/>
					</div>
                </div>
				{{> product-gallery class="col-xs-12"}}
            </div>

            <div class="col-xs-12 col-md-5">
				<div class="product-title">
					<h1>{{product.name}}</h1>
				</div>
				<div class="product-description">
					<p>{{{product.description}}}</p>
				</div>
				<div class="row">
					<div class="col-xs-12 initialism">
						{{{product.specs}}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 initialism">
						{{{product.usageChart}}}
					</div>
				</div>
				<!--{{#if product.technologiesAndFeatures.length}}
				<div class="row">
					{{#each product.technologiesAndFeatures}}
						<img style="float:left;" class="lazyload img-responsive" src="{{{cloudinaryUrl iconImage width=70 height=70 format="jpg"}}}"/>
					{{/each}}
				</div>
				{{/if}}-->
				{{> product-color-swatches visibleClass="hidden-xs hidden-sm" align="left"}}
				
				<div class="row">
					<div class="col-xs-12"><a href="/dealers"><h3 style="font-size:1.1em">Find a Dealer</h3></a>
					</div>
				</div>
			</div>
            
        </div>
        <div class="product-section-nav-wrapper" style="min-height:65px">
			<div class="container product-section-nav" style="height:50px">
				<div class="col-xs-12 text-center text-uppercase" style="position:relative;">
					<ul>
						{{#if product.technologies}}<li><a class="nav-anchor" href="#technology">Technology</a></li>{{/if}}
			{{#if product.features}}<li><a class="nav-anchor" href="#features">Features</a></li>{{/if}}
						<li><a class="nav-anchor" href="#product-sizing-guide">Sizing</a></li>
					</ul>
                    <ul style="position:absolute;right:0;top:0;">
                        <li><a class="nav-anchor" href="#nav-main">{{product.name}}</a></li>
                    </ul>
				</div>
			</div>
        </div>
		<div id="technology">
			{{> product-technology product.technologiesAndFeatures}}
		</div>
        <!--{{> product-sizing-guide}}-->
    </div>
	
	{{> product-blueimp-gallery-dom}}

{{else}}
    <h3 class="text-muted">Product does not exist.</h3>
{{/if}}

