{{> nav-product-categories products subCategory=subCategory}}

{{#if product}}
    <div class="container">
        <div id="product-main" class="row">
            <div class="col-xs-12 col-md-7">
                <div id="links">
					<!--[536,652,720]-->
				{{#each product.gallery}}
					{{#if @index}}
                        <a href="{{cloudinaryUrl this width=1170 background="#FFFFFF" format="jpg" fetch_format="auto" quality="90"}}"
                           title="{{name}}" data-gallery>
							{{{cloudinaryImgSrcSet screenWidths="[320,360,375,411,414,435,530,630,730,768,992,1200,3840]"
							widths="[290,330,345,381,384,405,500,600,700,738,720,536,652]"
							format="jpg" quality="auto" class="image-toggle cld-responsive" index=@index id="product-"
							onlyShowFirst=true dataSrc=true}}}
                            
                        </a>
					{{else}}
                        <a href="{{cloudinaryUrl this width=1170 background="#FFFFFF" format="jpg" fetch_format="auto" quality="90"}}"
                           title="{{name}}" data-gallery>
							{{{cloudinaryImgSrcSet screenWidths="[320,360,375,411,414,435,530,630,730,768,992,1200,3840]" 
							                       widths="[290,330,345,381,384,405,500,600,700,738,720,536,652]" 
							                       format="jpg" quality="auto" class="image-toggle" index=@index id="product-"
							                       onlyShowFirst=true}}}

                        </a>
					{{/if}}
                    
				{{/each}}
					<div class="hidden-xs text-right" style="height:0px;">
						<img id="product-zoom-current"
							 src="{{cloudinaryUrl @root.siteSettings.zoom-icon.imageValue width=40 format="jpg" fetch_format="auto" quality="85"}}"
							 style="margin-top:-70px;margin-right:32px" alt="zoom"/>
					</div>
                </div>
				{{> product-gallery class="col-xs-12"}}
            </div>

            <div class="col-xs-12 col-md-5">
				<div class="product-title">
					<h1>{{product.name}}</h1>
				</div>
				<div class="product-description">
					<p>{{{product.description}}}</p>
				</div>
				{{#if product.technologies.length}}
				<div class="row technology">
					{{#each product.technologies}}
					<div class="col-xs-4 col-sm-3">
						<a href="/technology#{{slug}}">
							<div class="text-center" style="display:inline-block;">
								<img src="{{{cloudinaryUrl iconImage width=70 fetch_format="auto" quality="auto"}}}" width="70"/>
								<h4 style="margin-top:10px;margin-bottom:0px;">{{name}}</h4>
							</div>
						</a>
					</div>
					{{/each}}
				</div>
				{{/if}}
				<div class="row">
					<div class="col-xs-12 initialism">
						{{{product.specs}}}
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 initialism">
						{{{product.usageChart}}}
					</div>
                    <div class="percentage-end" style="display:none;"></div>
				</div>
				{{> product-color-swatches visibleClass="hidden-xs hidden-sm" align="left"}}
				
				<!--{{#if product.features.length}}
                    <div class="row feature">
						<div class="col-xs-12">
							<ul>
						{{#each product.features}}
                             <li><h4>{{name}}</h4></li>
						{{/each}}
                            </ul>
						</div>
                    </div>
				{{/if}}-->
				<div class="row">
					<div class="col-xs-12"><a href="/dealers"><h3 style="font-size:1.1em;font-family:Gotham-Black">Find a Dealer</h3></a>
					</div>
				</div>
				{{#if product.ecwidCanProductId}}
				<div id="rowEcwidCan" class="row" style="display:none;">
                    <div class="ecwid ecwid-SingleProduct-v2 ecwid-Product ecwid-Product-product.{{product.ecwidCanProductId}}" itemscope itemtype="http://schema.org/Product" data-single-product-id="{{ecwidCanProductId}}"><div customprop="addtobag"></div></div><script type="text/javascript" src="https://app.ecwid.com/script.js?10415396&data_platform=singleproduct" charset="utf-8"></script><script type="text/javascript">xProduct()</script>
				</div>
				{{/if}}
			</div>
            
        </div>
    </div>
	
	{{> product-blueimp-gallery-dom}}

{{else}}
    <h3 class="text-muted">Product does not exist.</h3>
{{/if}}

