<!-- if products -->
{{#if products}}
	{{> nav-product-categories navProducts}}

    <div class="container products">
		{{#each products}}
            
            <div class="row">
                <div class="col-sm-12"><a id="{{slug}}" class="product-category-anchor"><h1>{{name}}</h1></a></div>
            </div>
            
			{{#each this.products}}
				<!-- visible on desktop -->
				<div class="col-xs-12 col-lg-4">
					<div class="product-category-item">
                        <div class="col-xs-6 col-lg-12">
							<a href="/{{this.mainCategory.slug}}/{{this.subCategory.slug}}/{{this.slug}}">
								<!--<img class="img-responsive lazyload"
									 src="{{cloudinaryUrl this.heroImage width=555 background="#FFFFFF" format="jpg"}}"/>-->
								<img data-src="{{cloudinaryUrl this.heroImage width="auto" format="jpg"}}" class="cld-responsive"/>
								<div class="product-category-item-overlay hidden-xs hidden-sm hidden-md">
									<h2>{{this.name}}</h2>
									{{{shortDescription}}}
								</div>
							</a>
						</div>
						
                        <div class="col-sm-6 visible-xs visible-sm visible-md">
                            <a href="/{{this.mainCategory.slug}}/{{this.subCategory.slug}}/{{this.slug}}">
								<h2>{{this.name}}</h2>
								{{{shortDescription}}}
							</a>
                        </div>
					</div>
				</div>
			{{/each}}
            
		{{/each}}
    </div>
{{else}}
    <!-- else -->
    <h3 class="text-muted">No products exist.</h3>
{{/if}}
