<div class="container">
	<div class="row">
		<div class="col-sm-12">
			{{#if registrationSubmitted}}
			<h3>Thanks for registering.</h3>
			{{else}}
			<h2>Why register your Kali?</h2>
			<p>
                Lorem Ipsum dolor sit amet, consectetuer adipiscingelit. Duis tellus. Donec ante dolor, iaculis

                nec, gravidaac, cursus in, eros. Mauris vestibulum, felis et egestasullamcorper, purus nibh vehicu-
                la sem, eu egestas antenisl non justo. Fusce tincidunt, lorem nev dapibusconsectetuer, leo orci

                mollis ipsum, eget suscipit erospurus in ante.
			</p>
			<hr/>
			<h3>Personal Information</h3>
			<form method="post" role="form" class="">
				<input type="hidden" name="action" value="register">
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group {{#if validationErrors.nameFirst}}has-error{{/if}}">
							<label class="" for="nameFirst">First Name</label>
							<input type="text" name="nameFirst"  class="form-control" value="{{formData.[nameFirst]}}">
						</div>
                    </div>
                    <div class="col-sm-6">
						<div class="form-group {{#if validationErrors.nameLast}}has-error{{/if}}">
							<label for="nameLast">Last Name</label>
							<input type="text" name="nameLast"  class="form-control" value="{{formData.[nameLast]}}">
						</div>
					</div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
						<div class="form-group">
							<label>Phone</label>
							<input type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
						</div>
					</div>
                    <div class="col-sm-6">
						<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
							<label>Email</label>
							<input type="email" name="email" class="form-control" value="{{formData.email}}">
						</div>
					</div>
				</div>
                <div class="form-group {{#if validationErrors.address}}has-error{{/if}}">
                    <div class="row">
                        <div class="col-sm-6">
							<label>Address</label>
							<input type="text" name="address.street1" class="form-control" value="{{formData.address.street1}}">
						</div>
                        <div class="col-sm-2">
                            <label>City</label>
                            <input type="text" name="address.suburb" class="form-control" value="{{formData.address.suburb}}">
                        </div>
                        <div class="col-sm-2">
                            <label>State</label>
                            <input type="text" name="address.state" class="form-control" value="{{formData.address.state}}">
                        </div>
                        <div class="col-sm-2">
                            <label>Zip/Postal</label>
                            <input type="text" name="address.postcode" class="form-control" value="{{formData.address.postcode}}">
                        </div>
					</div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="text" name="address.street2" class="form-control" value="{{formData.address.street2}}">
                        </div>
                        <div class="col-sm-3">
                            <label>Country</label>
                            <input type="text" name="address.country" class="form-control" value="{{formData.address.country}}">
                        </div>
                    </div>
                </div>
                
				<div class="row">
					<div class="col-xs-6 col-sm-3">
						<div class="form-group {{#if validationErrors.gender}}has-error{{/if}}">
							<label for="gender">Gender</label>
							<select name="gender" class="form-control">
                                <option value="">-</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
							</select>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3">
						<div class="form-group {{#if validationErrors.birthDate}}has-error{{/if}}">
							<label for="birthDate">Birthdate</label>
							<div class="input-group date">
							<input type="text" class="form-control" name="birthDate"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
						</div>
					</div>
				</div>
			
				<hr/>
                <h3>Helmet Info</h3>
				<div class="row">
					<div class="col-sm-3">
						<div class="form-group {{#if validationErrors.helmetModel}}has-error{{/if}}">
							<label>Model</label>
							<input type="text" name="helmetModel" class="form-control" value="{{formData.helmetModel}}">
						</div>
                    </div>
                    <div class="col-sm-3">
						<div class="form-group {{#if validationErrors.helmetGraphic}}has-error{{/if}}">
							<label>Graphic</label>
							<input type="text" name="helmetGraphic" class="form-control" value="{{formData.helmetGraphic}}">
						</div>
                    </div>
                    <div class="col-sm-3">
						<div class="form-group {{#if validationErrors.helmetColor}}has-error{{/if}}">
							<label>Color</label>
							<input type="text" name="helmetColor" class="form-control" value="{{formData.helmetColor}}">
						</div>
                    </div>
                    <div class="col-sm-3">
						<div class="form-group {{#if validationErrors.helmetSize}}has-error{{/if}}">
							<label>Size</label>
							<input type="text" name="helmetSize" class="form-control" value="{{formData.helmetSize}}">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="form-group {{#if validationErrors.helmetPurchaseLocation}}has-error{{/if}}">
							<label>Where did you purchase your helmet?</label>
							<input type="text" name="helmetPurchaseLocation" class="form-control" value="{{formData.helmetPurchaseLocation}}">
						</div>
                    </div>
					<div class="col-sm-3">
						<div class="form-group {{#if validationErrors.helmetPricePaid}}has-error{{/if}}">
							<label>Price Paid</label>
							<input type="text" name="helmetModel" placeholder="(optional)" class="form-control" value="{{formData.helmetPricePaid}}">
						</div>
                    </div>
				</div>
                
				<hr/>
				<h3>Feedback</h3>
				<div class="row">
					<div class="col-sm-6">
                        <div class="form-group {{#if validationErrors.feedbackHowOften}}has-error{{/if}}">
                            <label>How often do you wear your Kali?</label>
                            <input type="text" name="feedbackHowOften" class="form-control" value="{{formData.feedbackHowOften}}">
                        </div>
					</div>
				</div>
				<div class="row">
                    <div class="col-sm-6">
                        <div class="form-group {{#if validationErrors.feedbackRidingType}}has-error{{/if}}">
                            <label>What type of riding do you use your Kali helmet for?</label>
                            <input type="text" name="feedbackRidingType" class="form-control" value="{{formData.feedbackRidingType}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group {{#if validationErrors.feedbackLastHelmet}}has-error{{/if}}">
                            <label>What brand was your last Helmet?</label>
                            <input type="text" name="feedbackLastHelmet" class="form-control" value="{{formData.feedbackLastHelmet}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group {{#if validationErrors.feedbackWhyKali}}has-error{{/if}}">
                            <label>Why did you choose a Kali?</label>
                            <input type="text" name="feedbackWhyKali" class="form-control" value="{{formData.feedbackWhyKali}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group {{#if validationErrors.feedbackComments}}has-error{{/if}}">
                            <label>Please leave any other comments below:</label>
                            <textarea name="feedbackWhyKali" placeholder="(optional)" class="form-control">{{formData.feedbackComments}}</textarea>
                        </div>
					</div>
				</div>
                
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
			{{/if}}
		</div>
	</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
        $('.input-group.date').datepicker({
        });
	});
</script>
