<div id="technology">
	<div class="banner" style="position: relative;width:100%">
		<div class="banner-overlay">
			<div class="heading text-center">
				<h1>THE FUTURE OF PROTECTIVES</h1>
			</div>
			<div class="intro hidden-xs">
				<p>What started in a test lab a decade ago as a quest to evolve traditional helmet construction is now the benchmark in helmet engineering.<br>We call it Composite Fusion™</p>
				<p style="text-transform: uppercase;">WELCOME TO THE FUTURE</p>
			</div>
		</div>
		<img data-src="{{cloudinaryUrl data.page.bannerImage width="auto" format="jpg" fetch_format="auto" quality="auto"}}" class="cld-responsive"/>
		
	</div>
	<div class="container">
		<div class="row technology-icon-nav">
{{#each technology}}
			<div class="col-xs-4 col-sm-2 technology-icon-nav-item">
				<a class="banner-anchor" href="/{{../data.page.slug}}#{{slug}}">
					<div class="tertiary-container text-center">
						{{#if @first}}
							<div class="visible-xs">
                                <h4 class="year">{{year}}</h4>
							</div>
							<div class="hidden-xs">
								<!--spacer--><div class="" style="float:left;width:30%;margin-right:-15px;"></div>
								<div style="display:inline-block; width:20%;"><h4 class="year">{{year}}</h4></div>
								<div class="timeline" style="float:right;width:30%;margin-right:-15px;"></div>
								<div class="timeline-end" style="float:right;"></div>
                            </div>
						{{else}}
							{{#if @last}}
                                <div class="visible-xs">
                                    <h4 class="year">{{year}}</h4>
                                </div>
                            <div class="hidden-xs">    
                                <div class="timeline" style="float:left;width:30%;margin-left:-15px;"></div>
                                <div class="timeline-end" style="float:left;"></div>
                                <div style="display:inline-block"><h4 class="year">{{year}}</h4></div>
                                <!--spacer--><div class="" style="float:right;width:30%;margin-top:8px;margin-left:-15px;"></div>
							</div>
							{{else}}
							<div class="visible-xs">
								<h4 class="year">{{year}}</h4>
							</div>
                            <div class="hidden-xs">
                                <div class="timeline" style="float:left;width:40%;margin-left:-15px;"></div>
                                <div style="display:inline-block"><h4 class="year">{{year}}</h4></div>
                                <div class="timeline" style="float:right;width:40%;margin-right:-15px;"></div>
							</div>
							{{/if}}	
                            
						{{/if}}
						<div class="tertiary-image">
                        	<img data-src="{{cloudinaryUrl tertiaryImage  width="auto" format="jpg" fetch_format="auto" quality="auto"}}" class="cld-responsive"/>
                        </div>
					</div>
					<div class="text-center" style="margin:5px 0px 5px 0px;">
						<img src="{{{cloudinaryUrl iconImage width=30 quality=90}}}" width="30"/>
					</div>
					<div class="title text-center" style="margin-top:8px;">
						<h4>{{name}}</h4>
					</div>
					<div class="description">
						{{{shortDescription}}}
					</div>
				</a>
			</div>
{{/each}}
		</div>
	</div>
	<!--<div class="container">
		<div class="col-xs-12 text-center"><h2>{{{data.page.title}}}</h2><p>{{{data.page.contentHtml}}}</p></div>
	</div>-->
{{#each technology}}
	<div class="row">
		{{{bannerOverlayHtml}}}
        <a id="{{slug}}"></a>
        <img data-src="{{cloudinaryUrl heroImage  width="auto" format="jpg" fetch_format="auto" quality="auto"}}" class="cld-responsive"/>
	</div>
	<div class="container">
		<div class="row" style="margin-top:30px">
			<div class="col-xs-3" style="">
				{{{cloudinaryImgSrcSet iconImage screenWidths="[265]"
									   widths="[265]"
									   format="jpg" fetch_format="auto" quality="auto" class="cld-responsive"
									   dataSrc=true style="margin-top:-50%;line-height:0;position:relative;display:inline-block;"}}}
			</div>
			<div class="col-xs1"></div>
			<div class="col-xs-8">
				<div class="col-xs-10">
					<div class="text-center"><h2>{{name}}</h2></div>
					<p>{{this.description}}</p>
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom:15px">
			<div class="col-xs-12 ">
				<!--TODO: adjust image sizes to fit in container-->
                <img data-src="{{cloudinaryUrl primaryImage  width="auto" format="jpg" fetch_format="auto" quality="auto"}}" class="cld-responsive"/>
			</div>
		</div>
	</div>
{{/each}}

</div><!-- end #technology -->
