<div id="technology">
	<div class="banner" style="position: relative;width:100%">
		<div class="banner-overlay">
			<div class="heading text-center">
				<h1>THE FUTURE OF PROTECTIVES</h1>
			</div>
			<div class="intro hidden-xs">
				<p>What started in a test lab a decade ago as a quest to evolve traditional helmet construction is now the benchmark in helmet engineering.<br>We call it Composite Fusion™</p>
				<p style="text-transform: uppercase;">WELCOME TO THE FUTURE</p>
			</div>
		</div>
		<img data-src="{{cloudinaryUrl data.page.bannerImage width="auto" format="jpg" fetch_format="auto" quality="auto"}}" class="cld-responsive"/>
		
	</div>
	<div class="container">
		<div class="row technology-icon-nav">
			<div class="visible-xs">
				{{#everyNth technology 3}}
					{{#if isModZeroNotFirst}}
                    </div>
					{{/if}}
					{{#if isModZero}}
                    <div class="row">
					{{/if}}
                    
                        {{> technology-icon-nav-item}}
                    
					{{#if isLast}}
                    </div>
					{{/if}}
				{{/everyNth}}
			</div>
			<div class="hidden-xs">
			{{#each technology}}
				{{> technology-icon-nav-item}}
			{{/each}}
            </div>
		</div>
	</div>
	<!--<div class="container">
		<div class="col-xs-12 text-center"><h2>{{{data.page.title}}}</h2><p>{{{data.page.contentHtml}}}</p></div>
	</div>-->
{{#each technology}}
	<div style="margin-top:30px;">
		{{{bannerOverlayHtml}}}
        <a id="{{slug}}"></a>
        <img data-src="{{cloudinaryUrl heroImage  width="auto" format="jpg" fetch_format="auto" quality="auto"}}" class="cld-responsive"/>
    </div>
	
	<div class="container">
		<div class="row">
			<div class="col-xs-3" style="">
				{{{cloudinaryImgSrcSet iconImage screenWidths="[265]"
									   widths="[265]"
									   format="jpg" fetch_format="auto" quality="auto" class="cld-responsive"
									   dataSrc=true style="margin-top:-50%;line-height:0;position:relative;display:inline-block;"}}}
			</div>
			<div class="col-xs1"></div>
			<div class="col-xs-8">
				<div class="col-xs-10">
					<div class="text-center"><h2>{{name}}</h2></div>
					<p>{{this.description}}</p>
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom:15px">
			<div class="col-xs-12 ">
				<!--TODO: adjust image sizes to fit in container-->
                <img data-src="{{cloudinaryUrl primaryImage  width="auto" format="jpg" fetch_format="auto" quality="auto"}}" class="cld-responsive"/>
			</div>
		</div>
	</div>
{{/each}}

</div><!-- end #technology -->
