<div class="container">
	<div class="row">
		<div class="col-md-6">
            <img data-src="{{cloudinaryUrl data.page.heroImage width="auto" format="jpg"}}" class="cld-responsive" style="margin-bottom:15px"/>
        </div>
		<div class="col-md-6">
			{{{data.page.contentHtml}}}
        </div>
	</div>

	{{#everyNth technology 2}}
	<div class="row">
		<div class="col-md-6{{#if isModZero}} col-md-push-6{{/if}}" style="padding-right:0"><img data-src="{{cloudinaryUrl heroImage width="auto" format="jpg"}}" class="cld-responsive"/></div>

		<div class="col-md-6{{#if isModZero}} col-md-pull-6{{/if}}" style="padding-top: 15px">
			<h3>{{{name}}}</h3>
			<p>{{{description}}}</p>
		</div>
	</div>
	{{/everyNth}}
	
</div>
