<div id="technology">
	<div class="banner" style="position: relative">
		<div class="banner-overlay">
			<div class="heading text-center">
				<h1>THE FUTURE OF PROTECTIVES</h1>
			</div>
			<div class="intro hidden-xs">
				<p>What started in a test lab a decade ago as a quest to evolve traditional helmet construction is now the benchmark in helmet engineering.<br>We call it Composite Fusion™</p>
				<p style="text-transform: uppercase;">WELCOME TO THE FUTURE</p>
			</div>
		</div>
		{{{cloudinaryImgSrcSet data.page.bannerImage screenWidths="[320,360,375,411,414,435,530,630,730,768,992,1200,3840]"
                                                        widths="[320,360,375,411,414,435,530,630,730,768,992,1200,3840]"
                                                        format="jpg" fetch_format="auto" quality="auto" class="cld-responsive"}}}
		
	</div>
	<div class="container">
		<div class="row technology-icon-nav">
			<div class="visible-xs">
				{{#everyNth technology 3}}
					{{#if isModZeroNotFirst}}
                    </div>
					{{/if}}
					{{#if isModZero}}
                    <div class="row">
					{{/if}}
					<div class="col-xs-4 col-sm-2 technology-icon-nav-item">
						<a class="banner-anchor" href="/{{../data.page.slug}}#{{slug}}">
							{{> technology-icon-nav-item}}
						</a>
					</div>                    
					{{#if isLast}}
                    </div>
					{{/if}}
				{{/everyNth}}
			</div>
			<div class="hidden-xs">
			{{#each technology}}
                <div class="col-xs-4 col-sm-2 technology-icon-nav-item">
                    <a class="banner-anchor" href="/{{../data.page.slug}}#{{slug}}">
						{{> technology-icon-nav-item}}
                    </a>
                </div>
			{{/each}}
            </div>
		</div>
	</div>

{{#each technology}}
	<div style="margin-top:30px;">
		{{{bannerOverlayHtml}}}
        <a id="{{slug}}"></a>
		{{{cloudinaryImgSrcSet heroImage screenWidths="[320,360,375,411,414,435,530,630,730,768,992,1200,3840]"
						widths="[320,360,375,411,414,435,530,630,730,768,992,1200,3840]"
						format="jpg" fetch_format="auto" quality="auto" class="cld-responsive"}}}
    </div>
	<div class="container">
		<div class="row hidden-xs">
			<div class="col-xs-3" style="">
				{{{cloudinaryImgSrcSet iconImage screenWidths="[265]"
				   widths="[265]"
				   format="jpg" fetch_format="auto" quality="auto" class="cld-responsive"
				   dataSrc=true style="margin-top:-50%;line-height:0;position:relative;display:inline-block;"}}}
			</div>
			<div class="col-xs-1"></div>
			<div class="col-xs-8">
				<div class="col-xs-10">
					<div class="text-center"><h2>{{name}}</h2></div>
					<p>{{this.description}}</p>
				</div>
			</div>
		</div>
        <div class="row visible-xs">
			<div class="col-xs-4">
				{{{cloudinaryImgSrcSet iconImage screenWidths="[3840]" widths="[265]"
									   format="jpg" fetch_format="auto" quality="auto" class="cld-responsive"}}}
			</div>
			<div class="col-xs-8">
				<h2>{{name}}</h2>
				<p>{{this.description}}</p>
            </div>
        </div>
		{{#if primaryImage}}
		<div class="row" style="margin-bottom:15px">
			<div class="col-xs-12 ">
				<!--TODO: adjust image sizes to fit in container-->
				{{{cloudinaryImgSrcSet primaryImage screenWidths="[320,360,375,411,414,435,530,630,730,768,992,1200,3840]"
									   widths="[320,360,375,411,414,435,530,630,730,768,992,1200,3840]"
									   format="jpg" fetch_format="auto" quality="auto" class="cld-responsive"}}}
			</div>
		</div>
		{{/if}}
		{{#if secondaryImage}}
            <div class="row" style="margin-bottom:15px">
                <div class="col-xs-6">
                    <!--TODO: adjust image sizes to fit in container-->
					{{{cloudinaryImgSrcSet secondaryImage screenWidths="[320,360,375,411,414,435,530,630,730,768,992,1200,3840]"
										   widths="[160,180,190,206,207,220,265,315,365,384,496,600,1920]"
										   format="jpg" fetch_format="auto" quality="auto" class="cld-responsive"}}}
                </div>
				<div class="col-xs-6">
					{{contentHtml}}
				</div>
            </div>
		{{/if}}
	</div>
{{/each}}

</div><!-- end #technology -->
