<script type="text/javascript">
	
	$(document).ready(function () {
		//$(".technology.owl-carousel").owlCarousel({items: 1, nav: true});
		//$(".technology-sub.owl-carousel").owlCarousel({items: 3, nav: true});
		{{#each data.posts.results}}
			{{#each gallery.widgets}}
			{{#ifCond this.key "!=" "null"}}
			$(function() {
				var widget = {{{widget}}};
				//console.log("{{../../key}}-{{@index}}");
				
				if('{{type}}' === 'carousel'){
					var $container = $('#widget-{{key}} > .owl-carousel');
					//console.log($container);
					/*$('<div></div>')
							.appendTo( $container )
							.{{key}}();*/
					$container.owlCarousel({{{carousel.settings}}});

					{{#each carousel.widgets}}
					if('{{type}}' === 'carousel') {
						$container = $('#widget-{{key}} > .owl-carousel');
						$container.owlCarousel({{{carousel.settings}}});
					}
					{{/each}}
				}
			});
			{{/ifCond}}
			{{/each}}
		{{/each}}

		function stopOwlPropagation(element) {
			jQuery(element).on('to.owl.carousel', function(e) { e.stopPropagation(); });
			jQuery(element).on('next.owl.carousel', function(e) { e.stopPropagation(); });
			jQuery(element).on('prev.owl.carousel', function(e) { e.stopPropagation(); });
			jQuery(element).on('destroy.owl.carousel', function(e) { e.stopPropagation(); });
		}
		stopOwlPropagation('.owl-carousel');
		$.cloudinary.responsive();
	});
</script>

