<!--blog-index-->
<div id="blog-index" class="blog">
	<div id="blog-columns" data-columns class="row">
	{{#each data.posts}}
		{{#ifCond @root.section "==" "republik"}}
			<a href="/republik/post/{{key}}">
		{{/ifCond}}
		{{#ifCond @root.section "==" "product"}}
		<a href="/republik/post/{{key}}">
		{{/ifCond}}
		{{#ifCond @root.section "==" "technology"}}
			<a href="/technology/post/{{key}}">
		{{/ifCond}}
		{{#ifCond @root.section "==" "technology-detail"}}
			<a href="/technology/post/{{key}}">
		{{/ifCond}}
			<div class="blog-index-item">
				<div class="blog-main-image">
					<img data-src="{{cloudinaryUrl mainImage width="auto" fetch_format="auto"}}" class="cld-responsive" src=""/>
				</div>
				<h3>{{name}}</h3>
				<div class="blog-main-content">
					{{{content.brief}}}
				</div>
				<hr/>
			</div>
		</a>
	{{/each}}
	</div>

	<ul class="pagination">
	{{#ifCond data.posts.totalPages ">" 1}}
		{{#if data.posts.previous}}
			<li><a class="page-num" href="?page={{ data.posts.previous }}">Previous</a></li>
		{{else}}
			<!--<li><a class="page-num" href="?page=1">Previous</a></li>-->
		{{/if}}
		{{#each data.posts.pages}}
			<li{{#ifCond ../data.posts.currentPage "==" this }} class="active"{{/ifCond}}><a class="page-num" href="{{p}}?page={{#ifCond this "==" '...' }} {{#ifCond @index "==" data.posts.totalPages }} 1 {{else}} {{ this }} {{/ifCond}}{{else}}{{ this }}{{/ifCond}}">{{ this }}</a></li>
		{{/each}}
		
		{{#if data.posts.next}}
			<li><a class="page-num" href="?page={{data.posts.next}}">Next</a></li>
		{{else}}
			<!--<li><a class="page-num" href="?page={{data.posts.totalPages}}">Next</a></li>-->
		{{/if}}
	{{/ifCond}}
	</ul>
</div>
