<!--blog-index-->
<div id="blog-index" class="blog">
	<div id="blog-columns" data-columns class="row">
	{{#each data.posts}}
		{{#ifCond @root.section "==" "republik"}}
			<a href="/republik/post/{{key}}">
		{{/ifCond}}
		{{#ifCond @root.section "==" "product"}}
		<a href="/republik/post/{{key}}">
		{{/ifCond}}
		{{#ifCond @root.section "==" "technology"}}
			<a href="/technology/post/{{key}}">
		{{/ifCond}}
			<div class="blog-index-item">
				<div class="blog-main-image">
					{{>img-cld mainImage}}
				</div>
				<h3>{{name}}</h3>
				<div class="blog-main-content">
					{{{content.brief}}}
				</div>
				<hr/>
			</div>
		</a>
	{{/each}}
	</div>
	<div class="spinner fa fa-spinner fa-spin" style="text-align:center; width:100%; font-size:4em; color: #0a0a0a; display:none;"></div>
	<div class="blog-end" style="display:none;text-align:center"><hr style="margin-bottom:0"/></div>
</div>
