<div class="col col-xs-6 text-center">
	<ul class="pagination" style="margin:0">
		{{#ifCond data.posts.totalPages ">" 1}}
			{{#if data.posts.previous}}
				<li><a class="page-num" href="/{{@root.section}}?page={{ data.posts.previous }}">Previous</a></li>
			{{else}}
				<!--<li><a class="page-num" href="?page=1">Previous</a></li>-->
			{{/if}}
			{{#each data.posts.pages}}
				<li{{#ifCond ../data.posts.currentPage "==" this }} class="active"{{/ifCond}}><a class="page-num" href="/{{@root.section}}{{p}}?page={{#ifCond this "==" '...' }} {{#ifCond @index "==" data.posts.totalPages }} 1 {{else}} {{ this }} {{/ifCond}}{{else}}{{ this }}{{/ifCond}}">{{ this }}</a></li>
			{{/each}}

			{{#if data.posts.next}}
				<li><a class="page-num" href="/{{@root.section}}?page={{data.posts.next}}">Next</a></li>
			{{else}}
				<!--<li><a class="page-num" href="?page={{data.posts.totalPages}}">Next</a></li>-->
			{{/if}}
		{{/ifCond}}
	</ul>
</div>
