{{#ifCond postLayout.key "==" "slide-one"}}
	<div class="blog section{{#if product.darkColor}} dark{{/if}}" style="background-color:{{#if product.heroColor}}{{product.heroColor}}{{else}}#FFF{{/if}};{{#if product.heroBackgroundImage}}background-size:cover;background-image:url({{cloudinaryUrl product.heroBackgroundImage width="auto" format="jpg" flags="progressive"  quality="75"}});{{/if}};">
{{else}}
{{#ifCond postLayout.key "==" "slide-right-column"}}
<div class="blog section{{#if product.darkColor}} dark{{/if}}" style="background-color:{{#if product.heroColor}}{{product.heroColor}}{{else}}#FFF{{/if}};{{#if product.heroBackgroundImage}}background-size:cover;background-image:url({{cloudinaryUrl product.heroBackgroundImage width="auto" format="jpg" flags="progressive"  quality="75"}});{{/if}};">
{{else}}
<div class="blog section">	
{{/ifCond}}
{{#container}}
	<!--space for fixed header on mobile-->
	<div class="" style="height:70px"></div>
	{{> post-layout}}
{{/container}}
</div>
