
<div class="section{{#if darkColor}} dark{{/if}}" style="background-color:{{#if heroColor}}{{heroColor}}{{else}}#FFF{{/if}};{{#if heroBackgroundImage}}background-size:cover;background-image:url({{cloudinaryUrl heroBackgroundImage width="auto" fetch_format="auto"
																																							   quality="auto"}});{{/if}};">
	<!--space for fixed header on mobile-->
	<div class="" style="height:70px"></div>

	
	<div class="container">
		{{#if @root.params.discipline}}
		<a href="/{{this.mainCategory.slug}}/{{this.subCategory.slug}}/{{this.slug}}">
		{{else}}
			<a href="//{{canonicalDiscipline.slug}}.{{@root.domainAndPort}}/{{this.mainCategory.slug}}/{{this.subCategory.slug}}/{{this.slug}}">
		{{/if}}
			<div class="col-xs-12 col-sm-6 col-md-7">
				<img data-src="{{cloudinaryUrl gallery.[0] width="auto" fetch_format="auto"
											   quality="auto"}}" class="cld-responsive" src=""
					 style="z-index:1;"/>
				{{#unless darkColor}}
				<img data-src="{{{cloudinaryUrl @root.siteSettings.hero-drop-shadow.imageValue width="auto"
												fetch_format="auto" quality="auto"}}}" class="cld-responsive" src=""
					 style="margin-top:-20%;z-index:1;"/>
				{{/unless}}
			</div>
		</a>

		<div class="col-xs-12 col-sm-6 col-md-5 ">
			<div class="row">
				<div class="col-xs-12">
				{{#if @root.params.discipline}}
					<a href="/{{this.mainCategory.slug}}/{{this.subCategory.slug}}/{{this.slug}}">
				{{else}}
					<a href="//{{canonicalDiscipline.slug}}.{{@root.domainAndPort}}/{{this.mainCategory.slug}}/{{this.subCategory.slug}}/{{this.slug}}">
				{{/if}}
					<div class="product-title"><h2>{{name}}</h2></div>
					</a>
				</div>
			</div>
			{{#if heroBlurb}}
				<div class="row">
					<div class="col-xs-12">
						<h3>{{{heroBlurb}}}</h3>
					</div>
				</div>
			{{/if}}
			<div class="row">
				<div class="col-xs-12">
					<p>{{{description}}}</p>
				</div>
			</div>
			{{#if technologies.length}}
				<div class="row technology">
					<div class="col-xs-12">
						<h3 class="slide-label">Technology</h3><div style="clear:both;"></div>
					</div>		
				</div>
				<div class="row technology">
					{{#each technologies}}
						<div class="col-xs-3">
							<a href="/technology#{{slug}}">
								{{#if rawIconImage}}
									{{{rawIconImage}}}
								{{else}}
									{{#if flatIconImage.url}}
									<img data-src="{{{cloudinaryUrl flatIconImage fetch_format="auto" }}}"
										 src="" class="cld-responsive"/>
									{{else}}
										<img data-src="{{{cloudinaryUrl iconImage fetch_format="auto" }}}"
											 src="" class="cld-responsive"/>
										
									{{/if}}
								{{/if}}
							</a>
						</div>
					{{/each}}
				
					{{#each features}}
						<img data-src="{{{cloudinaryUrl iconImage width="auto" fetch_format="auto" quality="auto"}}}"
							 src="" class="cld-responsive"/>
					{{/each}}
				
				</div>
			{{/if}}
			<div class="row">
				<div class="col-xs-6 col-sm-12 col-md-6">
					<a href="" target="_blank">
						<div class="col-xs-12 text-center buy-button" data-shopifyid-us="{{shopifyIdUS}}" data-shopifyid-can="{{shopifyIdCan}}" style="display:none">
							buy now
						</div>
					</a>
				</div>
				
				<div class="col-xs-6 col-sm-12 col-md-6">
					<a href="/{{this.mainCategory.slug}}/{{this.subCategory.slug}}/{{this.slug}}">
						<div class="col-xs-12 more-info text-center">
							more info
						</div>
					</a>
				</div>
			</div>
			<div class="row"></div>
			<div class="col-xs-12 hidden-xs">
				<a href="/{{this.mainCategory.slug}}/{{this.subCategory.slug}}/{{this.slug}}">
					<div class="row">
						{{#each gallery}}
							{{#ifCond @index "<=" ../homeSlideAlternateEnd}}
								{{#ifCond @index ">=" ../../homeSlideAlternateStart}}
									<div class="col-xs-6">
										<img data-src="{{cloudinaryUrl width="auto" fetch_format="auto" quality="auto"}}"
											 class="cld-responsive" src=""/>
									</div>
								{{/ifCond}}
							{{/ifCond}}
						{{/each}}
					</div>
				</a>
			</div>
		</div>
		
	</div>
</div>
