<div class="section" style="background-color:{{#if heroColor}}{{heroColor}}{{else}}#FFF{{/if}};padding: 15px 0;">
	<div class="container">
		<a href="/{{this.mainCategory.slug}}/{{this.subCategory.slug}}/{{this.slug}}">
			<div class="col-xs-12 col-sm-7">
				<img data-src="{{cloudinaryUrl gallery.[0] width="auto" fetch_format="auto"
											   quality="auto"}}" class="cld-responsive" src=""
					 style="z-index:10;position:relative"/>
				<img data-src="{{{cloudinaryUrl @root.siteSettings.hero-drop-shadow.imageValue width="auto"
												fetch_format="auto" quality="auto"}}}" class="cld-responsive" src=""
					 style="margin-top:-20%;z-index:1;"/>
			</div>
		</a>
		<div class="col-xs-12 col-sm-5 ">
			<div class="row">
				<div class="col-xs-12">
					<a href="/{{this.mainCategory.slug}}/{{this.subCategory.slug}}/{{this.slug}}">
						<div class="product-title"><h2>{{name}}</h2></div>
					</a>
				</div>
			</div>
			{{#if heroBlurb}}
				<div class="row">
					<div class="col-xs-12">
						<h3>{{{heroBlurb}}}</h3>
					</div>
				</div>
			{{/if}}
			<div class="row">
				<div class="col-xs-12">
					<p>{{{description}}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					{{#if technologies.length}}
					<div class="row">
						<div class="col-xs-12">
							<h3 class="technology">Technology</h3>
							<div class="technology">
								{{#each technologies}}
									<a href="/technology#{{slug}}">
										<img src="{{{cloudinaryUrl iconImage width=70 fetch_format="auto" quality="auto"}}}"
											 width="70"/>
									</a>
								{{/each}}
								{{#each features}}
									<img src="{{{cloudinaryUrl iconImage width=70 fetch_format="auto" quality="auto"}}}"
										 width="70"/>
								{{/each}}
							</div>
						</div>
					</div>
					{{/if}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-12 col-md-6" style="margin-bottom:15px;">
					<a href="" target="_blank">
						<div class="col-xs-12 text-center buy-button" data-shopifyid-us="{{shopifyIdUS}}" data-shopifyid-can="{{shopifyIdCan}}" style="display:none">
							buy now
						</div>
					</a>
				</div>
				
				<div class="col-xs-6 col-sm-12 col-md-6">
					<a href="/{{this.mainCategory.slug}}/{{this.subCategory.slug}}/{{this.slug}}">
						<div class="col-xs-12 more-info text-center">
							more info
						</div>
					</a>
				</div>
			</div>
			<div class="row"></div>
			<div class="col-xs-12 hidden-xs">
				<a href="/{{this.mainCategory.slug}}/{{this.subCategory.slug}}/{{this.slug}}">
					<div class="row">
						{{#each gallery}}
							{{#ifCond @index "<=" ../homeSlideAlternateEnd}}
								{{#ifCond @index ">=" ../../homeSlideAlternateStart}}
									<div class="col-xs-6">
										<img data-src="{{cloudinaryUrl width="auto" fetch_format="auto" quality="auto"}}"
											 class="cld-responsive" src=""/>
									</div>
								{{/ifCond}}
							{{/ifCond}}
						{{/each}}
					</div>
				</a>
			</div>
		</div>
		
	</div>
</div>
