<div class="row"> {{#if this.featureAnchor}}<a id="features"></a>{{/if}}
    <div class="col-xs-12 product-technology">{{name}}</div>
    <div class="col-xs-12 product-technology">
		{{{cloudinaryImgSrcSet primaryImage screenWidths="[320,360,375,411,414,435,530,630,730,768,992,1200,3840]"
							   widths="[290,330,345,381,384,405,500,600,700,738,720,536,652]"
							   format="jpg" quality="auto" class="cld-responsive" 
							   dataSrc=true}}}
		
	</div>
    <div class="col-xs-6 product-technology">
		{{{cloudinaryImgSrcSet tertiaryImage screenWidths="[320,360,375,411,414,435,530,630,730,768,992,1200,3840]"
							   widths="[145,165,172,190,192,202,250,300,350,369,360,268,326]"
							   format="jpg" quality="auto" class="cld-responsive"
							   dataSrc=true}}}
	</div>
	<div class="col-xs-6 product-technology">{{this.description}}</div>
    <div class="col-xs-12 product-technology">
		{{{cloudinaryImgSrcSet secondaryImage screenWidths="[320,360,375,411,414,435,530,630,730,768,992,1200,3840]"
							   widths="[290,330,345,381,384,405,500,600,700,738,720,536,652]"
							   format="jpg" quality="auto" class="cld-responsive"
							   dataSrc=true}}}
	</div>
	<!--{{#everyOther @index 2}}
		{{> product-technology-hero-image}}
		{{> product-technology-info}}
	{{else}}
		{{> product-technology-info}}
		{{> product-technology-hero-image}}
	{{/everyOther}}-->
</div>
