{{#ifCond product.galleryColorwaysArray.length '>' 1}}
    <div class="row {{visibleClass}}">
        <div class="col-xs-12 owl-dots" style="text-align:{{align}}">
			{{#everyNth product.galleryColorwaysArray product.imagesPerColorSwatch}}
            <div class="color-swatch-wrapper{{#if isFirst}} active{{/if}}">
                <div data-icon-id="#product-icon-{{productIndex}}"
					 data-colorway="{{colorway}} {{color}}"
                     data-image-id="#product-{{productIndex}}" class="icon-toggler color-swatch-gradient owl-dot"
					 style="{{colorSwatchBackground this split}}">
                </div>
            </div>
			{{/everyNth}}

        </div>
    </div>
{{/ifCond}}
