<div class="product-category-item">

	<a href="/{{#if
			@root.params.version}}archive/{{@root.params.version.slug}}/{{/if}}{{this.mainCategory.slug}}/{{this.subCategory.slug}}/{{this.slug}}">
		<div class="product-category-href"
			 data-href="/{{this.mainCategory.slug}}/{{this.subCategory.slug}}/{{this.slug}}">
			<div class="product-category-image">
				{{{cloudinaryImg this.gallery.[0] width=400 alt=name}}}
				{{#if usageChart}}
					<div class="product-category-item-overlay hidden-xs hidden-sm">
						<div class="col-xs-12 initialism">
							{{{usageChart}}}
						</div>
					</div>
				{{/if}}
			</div>
			<div class="text-wrapper">
                <div class="title">
                    <h4>{{this.name}}</h4>
                </div>
                <div class="description">
                    {{{shortDescription}}}
                </div>
			</div>
		</div>

	</a>
</div>
