{{# ifCond product.gallery.length '>' 1}}
    
    <div class="{{class}}">
        <div class="row" style="margin-top: 5px; margin-bottom: 15px;">
            <div class="col-xs-12" style="text-align:center">
            
				{{#everyNth product.gallery product.imagesPerColorSwatch}}
				{{#if isModZeroNotFirst}}
					</div>
				{{/if}}
				{{#if isModZero}}
					<div id="product-icon-{{n}}" class="product-icon-group icon-toggle" style="text-align:center;{{#unless isFirst}}display:none;{{/unless}}">
						{{#with (lookup ../../product.galleryColorwaysArray page)}}
                            <div class="product-swatch-title">{{colorway}}</div>
						{{/with}}
				{{/if}}
				{{#ifCond ../product.imagesPerColorSwatch '>' 1}}
					
					<div data-image-id="#product-{{n}}" class="image-toggler" style="display: inline-block;">
						<div style="width:80px;display:inline-block;">
							<img data-src="{{cloudinaryUrl this width=80 format="jpg" quality="80"}}" class="product-thumb{{#ifCond page '<' 1}} cld-responsive{{/ifCond}}"/>
						</div>
					</div>
				{{/ifCond}}
				{{#if isLast}}
					</div>
				{{/if}}
				{{/everyNth}}
            
        	</div>
    	</div>
	
	{{> product-color-swatches visibleClass="visible-xs visible-sm" align="center"}}
	
	</div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.icon-toggler').on('click', function (e) {
                $('.icon-toggle').hide();
                $($(this).attr('data-icon-id')).show();
                $('.image-toggle').hide();
                $($(this).attr('data-image-id')).show();
            });


            $('.image-toggler').on('click', function (e) {
                $('.image-toggle').hide();
                $($(this).attr('data-image-id')).show();
            });

        });
        $(window).load(function(){
			/*if($('#product-color-swatches').children().length > 1) {
            	$('#product-color-swatches').css({visibility:'visible', opacity: 0.0}).animate({opacity: 1}, 500);
            }*/
        });
    </script>
{{/ifCond}}
