<a href="/{{this.mainCategory.slug}}/{{this.subCategory.slug}}/{{this.slug}}">
	<div class="col-xs-12 col-lg-4 product-category-href" data-href="/{{this.mainCategory.slug}}/{{this.subCategory.slug}}/{{this.slug}}">
		<div class="product-category-item">
			<div class="col-xs-6 col-lg-12">
				
				{{{cloudinaryImgSrcSet this.gallery.[0] screenWidths="[320,360,375,411,414,435,530,630,730,768,992,1200,3840]"
									   widths="[100,121,128,145,147,158,205,255,305,315,315,425,447]" format="jpg" quality="auto"
									   class="product-thumb" index=page}}}
				<!--<img data-src="{{cloudinaryUrl this.heroImage width="auto" format="jpg" fetch_format="auto" quality="90"}}" class="cld-responsive"/>-->
				<div class="product-category-item-overlay hidden-xs hidden-sm hidden-md">
					<h2>{{this.name}}</h2>
					{{{shortDescription}}}
				</div>
			</div>

			<div class="col-xs-6 visible-xs visible-sm visible-md">
				<h4>{{this.name}}</h4>
				{{{shortDescription}}}
			</div>
		</div>
	</div>
</a>
