<div class="col-xs-4 col-sm-2 technology-icon-nav-item">
	<a class="" href="/{{../data.page.slug}}#{{slug}}">
        <div class="tertiary-container">
            <div class="text-center"><h4 class="year">{{year}}</h4></div>
			{{{cloudinaryImgSrcSet tertiaryImage screenWidths="[320,360,375,411,414,435,530,630,730,768,992,1200,3840]"
								   widths="[72,  85, 90,102,102,110,110,142,175,221,132,132,  165]"
								   format="jpg" fetch_format="auto" quality="auto" class="cld-responsive"}}}
        </div>
        <div class="text-center" style="margin:5px 0px 5px 0px;">
            <img src="{{{cloudinaryUrl iconImage width=30 quality=90}}}" width="30"/>
        </div>
        <div style="margin-top:5px;">
            <h4 class="title">{{name}}</h4>
        </div>
        <div class="description" style="">
			{{shortDescription}}
        </div>
    </a>
</div>
