<script type="text/javascript">
    $(document).ready(function () {
		function centerSlideImages( event ) {
			var $slide = $(event.target);
			var $conts = $slide.find('.owl-item');
			$conts.each(function() {
				var img = $(this).find('.widget-image');
				var conRatio = $(this).width() / $(this).height();
				var imgRatio = img.width() / img.height();
				var mode = (conRatio > imgRatio) ? 'portrait' : 'landscape';
				if( mode === 'portrait') {
					$(this).removeClass('landscape');
					$(this).addClass('portrait');
					img.css({
						marginTop: ($(this).height() - img.height()) / 2,
						marginLeft: 0,
					});
				} else {
					$(this).removeClass('portrait');
					$(this).addClass('landscape');
					img.css({
						marginTop: 0,
						marginLeft: ($(this).width() - img.width()) / 2,
					});
				};
			});
		}
		
		{{#each post}}
			{{#each gallery.widgets}}
				{{#ifCond this.key "!=" "null"}}
					$(function() {
						var widget = {{{widget}}};
						console.log("{{../../key}}-{{@index}}");

						var $techCarousel = $('#widget-technology-main-carousel > .owl-carousel');
						//console.log($container);
						/*$('<div></div>')
								.appendTo( $container )
								.{{key}}();*/
						$techCarousel.on('initialize.owl.carousel initialized.owl.carousel', function(e){
							console.log('initialize, initialized', e);
						});

						var techCarousel = $techCarousel.owlCarousel({{{carousel.settings}}});
						//$container.find('.owl-item .banner-overlay').addClass('animated');
						
						techCarousel.on('initialized.owl.carousel', function(){
							console.log('drag, dragged');
							$(this).trigger('play.owl.autoplay',[1000]);
						});
						
						
						$techCarousel.on('change.owl.carousel', function(event) {
							//hide all banners
							$(event.target).find('.owl-item .banner-overlay').css('display', 'none');
							
							setTimeout(function(){
								$current = $(event.target).find('.owl-item.active .banner-overlay');
								if($current.length){
									$current.css('display', 'block');
								}
							},100);
									
							
						});
						{{#each carousel.widgets}}
							if('{{type}}' === 'carousel') {
								var $container = $('#widget-{{key}} > .owl-carousel');
								$container.owlCarousel({{{carousel.settings}}});
							}else{
								if('{{widget}}') {

									{{{widget}}}
								}
							}
						{{/each}}
					
					});
				{{/ifCond}}
			{{/each}}
		{{/each}}


		/*$("#widget-technology-main-carousel .owl-carousel").owlCarousel({
			items: 1, 
			nav: true,
			dots: false,
			//margin:10,
			navText : ["<i class='glyphicon glyphicon-menu-left'></i>","<i class='glyphicon glyphicon-menu-right'></i>"]
		});*/
		
		$(".technology-sub.owl-carousel").owlCarousel({
				items: 1, 
				dots: false,
				mouseDrag: false,
				touchDrag: true
			});
		$(".technology-sub-nav div").click(function(e){
			var $target = $(e.target);
			var slide = $target.data('slide');

			$(".technology-sub-nav div").removeClass('active');
			$target.addClass('active');
			
			$('.technology-sub.owl-carousel').trigger('to.owl.carousel', slide);
		});
		
    });
</script>
