<div class="tertiary-container text-center">
	{{#if @first}}
		<div class="visible-xs">
			<h4 class="year">{{year}}</h4>
		</div>
		<div class="hidden-xs">
			<!--spacer--><div class="" style="float:left;width:30%;margin-top:8px;margin-right:-15px;"></div>
			<div style="display:inline-block; width:20%;"><h4 class="year">{{year}}</h4></div>
			<div class="timeline" style="float:right;width:30%;margin-right:-15px;"></div>
			<div class="timeline-end" style="float:right;"></div>
		</div>
	{{else}}
		{{#if @last}}
			<div class="visible-xs">
				<h4 class="year">{{year}}</h4>
			</div>
			<div class="hidden-xs">
				<div class="timeline" style="float:left;width:30%;margin-left:-15px;"></div>
				<div class="timeline-end" style="float:left;"></div>
				<div style="display:inline-block"><h4 class="year">{{year}}</h4></div>
				<!--spacer--><div class="" style="float:right;width:30%;margin-top:8px;margin-left:-15px;"></div>
			</div>
		{{else}}
			<div class="visible-xs">
				<h4 class="year">{{year}}</h4>
			</div>
			<div class="hidden-xs">
				<div class="timeline" style="float:left;width:40%;margin-left:-15px;"></div>
				<div style="display:inline-block"><h4 class="year">{{year}}</h4></div>
				<div class="timeline" style="float:right;width:40%;margin-right:-15px;"></div>
			</div>
		{{/if}}
	{{/if}}
	<div class="tertiary-image">
		{{{cloudinaryImgSrcSet tertiaryImage screenWidths="[320,360,375,411,414,435,530,630,730,768,992,1200,3840]"
							   widths="[78,91,96,108,109,116,148,181,215,227,95,161,161]"
							   format="jpg" fetch_format="auto" quality="auto" class="cld-responsive"}}}
	</div>
</div>
<div class="text-center" style="margin:5px 0px 5px 0px;">
	<img src="{{{cloudinaryUrl iconImage width=70 fetch_format="auto" quality="auto" }}}" width="70"/>
</div>
<div class="title text-center" style="margin-top:8px;">
	<h4>{{name}}</h4>
</div>
<div class="description">
	{{{shortDescription}}}
</div>
