<div class="row" style="margin-bottom:15px;">
	<div class="col col-md-2"></div>
	<div class="col col-md-4 set-vcenter" style="padding:30px;">
		<a href="/technology/post/{{key}}">
			<img data-src="{{{cloudinaryUrl primaryImage width="auto" fetch_format="auto" quality="auto"}}}" src="" class="cld-responsive"/>
		</a>
	</div><!--
--><div class="col col-md-4 vcenter"  style="padding:30px;">
	<h2>{{name}}</h2>
	<p>{{this.shortDescription}}</p>
	<a href="/technology/post/{{key}}"><span class="more-info text-center">Learn More</span></a>
	</div>
</div>
