<!--widget-->
<div class="widget widget-{{type}}" id="widget-{{key}}">
	<!--<h1>{{key}}</h1>-->
{{#ifCond type "==" "image"}}
	{{#if href}}<a href="{{href}}">{{/if}}
	{{#if contentHtml}}{{{contentHtml}}}{{/if}}
	<img data-src="{{{cloudinaryUrl image width="auto" fetch_format="auto" quality="auto"}}}"
		 src="" class="cld-responsive"/>
	{{#if href}}</a>{{/if}}
{{/ifCond}}
{{#ifCond type "==" "html"}}
	{{{contentHtml}}}
{{/ifCond}}
{{#ifCond type "==" "youtube"}}
	<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" src="{{youtube}}"  allowfullscreen="allowfullscreen"></iframe>
	</div>
{{/ifCond}}
{{#ifCond type "==" "embedly"}}
	{{{embedly}}}
{{/ifCond}}
{{#ifCond type "==" "carousel"}}
	<div class="owl-carousel owl-theme">
		{{#each carousel.widgets}}
				{{> widget}}
		{{/each}}
	</div>
{{/ifCond}}

{{#ifCond type "==" "technology-subnav"}}
	<div class="row hidden-xs">
		<div class="technology-sub-nav">
			<div data-slide="0" class="col-xs-4 text-center color active">Composite Fusion</div>
			<div data-slide="1" class="col-xs-4 text-center color">Low Density Layer</div>
			<div data-slide="2" class="col-xs-4 text-center color">Nano Fusion</div>
		</div>
	</div>
	<div class="row hidden-xs">
		<div class="col-xs-12">
			<div class="technology-sub owl-carousel owl-theme">
				{{#each @root.technology}}
					{{> technology-section}}
				{{/each}}
			</div>
		</div>
	</div>
	{{#each technology}}
		<div class="visible-xs">
			{{> technology-section}}
		</div>
	{{/each}}
{{/ifCond}}	
</div>
<!--//end widget-->
