<div class="widget widget-{{type}}" id="widget-{{key}}">
	<h1>{{key}}</h1>
{{#ifCond type "==" "image"}}
	{{#if href}}<a href="{{href}}">{{/if}}
	{{#if contentHtml}}{{{contentHtml}}}{{/if}}
	<img data-src="{{{cloudinaryUrl image width="auto" fetch_format="auto" quality="auto"}}}"
		 src="" class="cld-responsive"/>
	{{#if href}}</a>{{/if}}
{{/ifCond}}
{{#ifCond type "==" "html"}}
	{{{contentHtml}}}
{{/ifCond}}
{{#ifCond type "==" "youtube"}}
	<div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" src="{{youtube}}"  allowfullscreen="allowfullscreen"></iframe>
	</div>
{{/ifCond}}
{{#ifCond type "==" "embedly"}}
	{{{embedly}}}
{{/ifCond}}
{{#ifCond type "==" "carousel"}}
	<div class="owl-carousel owl-theme">
		{{#each carousel.widgets}}
				{{> widget}}
		{{/each}}
	</div>
{{/ifCond}}
</div>
