<!--widget-->

	<!--<h1>{{key}}</h1>-->
{{#ifCond type "==" "image"}}
	{{#container this}}
		<div class="widget widget-{{type}}" id="widget-{{key}}">
		{{#if href}}<a href="{{href}}">{{/if}}
		{{#if contentHtml}}{{{contentHtml}}}{{/if}}
		<img data-src="{{{cloudinaryUrl image width="auto" fetch_format="auto" quality="auto"}}}"
			 src="" class="cld-responsive"/>
		{{#if href}}</a>{{/if}}
		</div>
	{{/container}}
{{/ifCond}}
{{#ifCond type "==" "html"}}
	{{#container}}
		<div class="widget widget-{{type}}" id="widget-{{key}}">
		{{{contentHtml}}}
		</div>
	{{/container}}
{{/ifCond}}
{{#ifCond type "==" "youtube"}}
	{{#container}}
		<div class="widget widget-{{type}}" id="widget-{{key}}">
		<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" src="{{youtube}}"  allowfullscreen="allowfullscreen"></iframe>
		</div>
		</div>
	{{/container}}
{{/ifCond}}

{{#ifCond type "==" "carousel"}}
	{{#container this}}
		<div class="widget widget-{{type}}" id="widget-{{key}}">
		<div class="owl-carousel owl-theme{{#if carousel.fullscreen}} fs-slides{{/if}}">
			{{#each carousel.widgets}}
				<div class="widget widget-{{type}}" id="widget-{{key}}" 
					 style="{{#if ../../carousel.fullscreen}} background: url({{{cloudinaryUrl image width="auto" fetch_format="auto" quality="auto"}}}) center center; background-size: cover;height:100%;width:100%"{{/if}}">
					{{#ifCond type "==" "image"}}
						{{#if href}}<a href="{{href}}">{{/if}}
						{{#if contentHtml}}
							{{{contentHtml}}}
						{{/if}}
						{{#unless ../../carousel.fullscreen}}
						<img data-src="{{{cloudinaryUrl image width="auto" fetch_format="auto" quality="auto" }}}"
							 src="" class="cld-responsive"/>
						{{/unless}}
						{{#if href}}</a>{{/if}}
					{{/ifCond}}
					{{#ifCond type "==" "html"}}
						{{{contentHtml}}}
					{{/ifCond}}
					{{#ifCond type "==" "youtube"}}
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="{{youtube}}"  allowfullscreen="allowfullscreen"></iframe>
						</div>
					{{/ifCond}}
				</div>
			{{/each}}
		</div>
		</div>
	{{/container}}
{{/ifCond}}

{{#ifCond type "==" "technology-timeline"}}
	{{#container this}}
	<div class="technology-icon-nav hidden-xs hidden-sm">
	{{#each @root.productTechnology}}
		<div class="col-xs-4 col-sm-2 technology-icon-nav-item">
			{{> technology-icon-nav-item}}
		</div>
	{{/each}}
	</div>
	{{/container}}
{{/ifCond}}

{{#ifCond type "==" "technology-subnav"}}
	<div class="widget widget-{{type}} hidden-xs" id="widget-{{key}}">
	{{#container this}}
		<div class="technology-sub-nav">
			<div data-slide="0" class="col-xs-4 text-center color active">Composite Fusion</div>
			<div data-slide="1" class="col-xs-4 text-center color">Low Density Layer</div>
			<div data-slide="2" class="col-xs-4 text-center color">Nano Fusion</div>
		</div>
	{{/container}}
	
	{{#container this}}
		<div class="technology-sub owl-carousel owl-theme hidden-xs">
			{{#each @root.technology}}
				{{> technology-section}}
			{{/each}}
		</div>
	{{/container}}
	</div>
	
	
	<div class="container visible-xs">
		{{#each @root.technology}}
			<div class="row">
			{{> technology-section}}
			</div>
		{{/each}}
	</div>
{{/ifCond}}	
<!--//end widget-->
