<!--gallery-->
{{#ifCond gallery.layout "==" "republik-1" }}
	<div class="col col-xs-12">
		{{key}}
		{{> post-layouts/blog/gallery-republik-1}}
	</div>
{{/ifCond}}

{{#ifCond gallery.layout "==" "carousel" }}
	<!--carousel-->
	<div class="col col-xs-12">
		{{key}}
		{{> post-layouts/blog/gallery-carousel}}
	</div>
{{/ifCond}}

{{#ifCond gallery.layout "==" "blocks"}}
	{{#each gallery.widgets}}
		<div class="col col-xs-4">
			<div data-post-gallery-id="{{../key}}-{{@index}}">
				{{> widget}}
			</div>
		</div>
	{{/each}}
{{/ifCond}}
{{#ifCond gallery.layout "==" "left"}}
	{{#each gallery.widgets}}
		{{#if @first}}<div class="col col-xs-8">{{else}}<div class="col col-xs-4">{{/if}}
			<div data-post-gallery-id="{{../key}}-{{@index}}">
				{{> widget}}
			</div>
		</div>
	{{/each}}
{{/ifCond}}
{{#ifCond gallery.layout "==" "right"}}
	{{#each gallery.widgets}}
		{{#if @first}}<div class="col col-xs-4">{{else}}<div class="col col-xs-8">{{/if}}
			<div data-post-gallery-id="{{../key}}-{{@index}}">
				{{> widget}}
			</div>
		</div>
	{{/each}}
{{/ifCond}}
{{#ifCond gallery.layout "==" "basic"}}
	<!--basic-->
	{{#each gallery.widgets}}
		<div data-post-gallery-id="{{../key}}-{{@index}}">
			{{> widget}}
		</div>
	{{/each}}
{{/ifCond}}


{{#ifCond gallery.layout "==" "technology"}}
		
		{{> widget gallery.widgets.[0]}}
		
		<div class="container-fluid">
			<div class="col col-md-2"></div>
			<div class="col col-md-8">
				<div class="row hidden-xs">
					<div class="col-xs-3">
						<div style="margin:-50% 0 0;line-height:0;position:relative;display:inline-block;">
							<img data-src="{{{cloudinaryUrl gallery.widgets.[1].image width="auto" fetch_format="auto" quality="auto"}}}"
								 src="" class="cld-responsive" />
						</div>
					</div>
					<div class="col-xs-1"></div>
					<div class="col-xs-8">
						<div class="col-xs-10">
							{{{gallery.widgets.[2].contentHtml}}}
						</div>
					</div>
				</div>
				<div class="row visible-xs">
					<div class="col-xs-4">
						<img data-src="{{{cloudinaryUrl gallery.widgets.[1].image width="auto" fetch_format="auto" quality="auto"}}}"
							 src="" class="cld-responsive"/>
					</div>
					<div class="col-xs-8">
						{{{gallery.widgets.[2].contentHtml}}}
					</div>
				</div>
				<div class="row hidden-xs">
					{{#if gallery.widgets.[3].image.url}}
						<div class="col col-xs-12">
							<img data-src="{{{cloudinaryUrl gallery.widgets.[3].image width="auto" fetch_format="auto" quality="auto"}}}"
								src="" class="cld-responsive"/>
						</div>
					{{/if}}
					{{#if gallery.widgets.[4].image.url}}
					<div class="col-xs-12 col-sm-5 vcenter ">
						{{{gallery.widgets.[3].contentHtml}}}
					</div><!--
						--><div class="col-xs-12 col-sm-7 vcenter">
						<img data-src="{{{cloudinaryUrl gallery.widgets.[4].image width="auto" fetch_format="auto" quality="auto"}}}"
							src="" class="cld-responsive"/>
					</div>
					{{/if}}
				</div>
				<div class="row visible-xs">
					<div class="col-xs-12" style="margin-top:15px">
						<img data-src="{{{cloudinaryUrl gallery.widgets.[4].image width="auto" fetch_format="auto" quality="auto"}}}"
							 src="" class="cld-responsive"/>
					</div>
				</div>
			</div>
			
		</div>
{{/ifCond}}
<!--//end gallery-->
