<!--images-gallery-->
{{#ifCond imagesGallery.layout "==" "republik-1" }}
	<div class="col col-xs-12">
		{{key}}
		{{> post-layouts/blog/images-gallery-republik-1 this}}
	</div>
{{/ifCond}}

{{#ifCond imagesGallery.layout "==" "carousel" }}
	<div class="col col-xs-12">
		{{key}}
		{{> post-layouts/blog/images-gallery-carousel this}}
	</div>
{{/ifCond}}

{{#ifCond imagesGallery.layout "==" "blocks"}}
	{{#each imagesGallery}}
		<div class="col col-xs-4">
			{{{cloudinaryImg this}}}
		</div>
	{{/each}}
{{/ifCond}}
{{#ifCond imagesGallery.layout "==" "left"}}
	{{#each imagesGallery}}
		{{#if @first}}<div class="col col-xs-8">{{else}}<div class="col col-xs-4">{{/if}}
		{{{cloudinaryImg this}}}		
		</div>
	{{/each}}
{{/ifCond}}
{{#ifCond imagesGallery.layout "==" "right"}}
	{{#each imagesGallery}}
		{{#if @first}}<div class="col col-xs-4">{{else}}<div class="col col-xs-8">{{/if}}
		{{{cloudinaryImg this}}}
		</div>
	{{/each}}
{{/ifCond}}
{{#ifCond imagesGallery.layout "==" "basic"}}
	<div class="container">
		{{#each imagesGallery.images}}
		<div class="row">
			<div class="col col-xs-12">
			{{{cloudinaryImg this}}}
		</div>
		</div>
		{{/each}}
	</div>
{{/ifCond}}
<!--//end images-gallery-->
