<div class="container">
	<div class="col-xs-12 col-sm-8">
		
		<div class="row">
			{{#if this.imagesGallery.images.[0]}}
				{{{cloudinaryImg imagesGallery.images.[0]}}}
			{{/if}}
		</div>
		<div class="row">
			<div class="col-xs-6">
				{{#if this.imagesGallery.images.[1]}}
					{{{cloudinaryImg imagesGallery.images.[1]}}}
				{{/if}}
			</div>
			<div class="col-xs-6">
				{{#if this.imagesGallery.images.[2]}}
					{{{cloudinaryImg imagesGallery.images.[2]}}}
				{{/if}}
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-4">
		{{#if this.imagesGallery.images.[3]}}
			{{{cloudinaryImg imagesGallery.images.[3]}}}
		{{/if}}
		{{#if this.imagesGallery.images.[4]}}
			{{{cloudinaryImg imagesGallery.images.[4]}}}
		{{/if}}
	</div>
	
</div>
