<div class="container blog">
	<div class="row" style="">
		<div class="col col-xs-12">
			<p><a href="/{{section}}">&larr; Back to <span style="text-transform:uppercase">{{section}}</span></a></p>
			<hr style="margin-bottom:-15px;">
			<div class="row">
				<div class="col col-xs-12">
					{{#if content.markdown.html}}
						{{{content.markdown.html}}}
					{{else}}
						{{{content.extended}}}
					{{/if}}
				</div>
				{{#if youtube}}
					<div class="col col-xs-12">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="{{youtube}}"  allowfullscreen="allowfullscreen"></iframe>
						</div>
					</div>
				{{/if}}
				{{#if gallery}}
					<div class="col col-xs-12">
						{{#each gallery}}
							{{{cloudinaryImg}}}
						{{/each}}
					</div>

				{{/if}}
			</div>
		</div>
	</div>
	{{#if data.posts}}
		<div class="row" style="margin-top:0">
			<div class="col col-xs-12"><hr style="margin-bottom: 0px"/></div>
			<div class="col col-xs-12">{{>blog-index}}</div>
		</div>
	{{/if}}

</div>
